$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.about{
  div.about1{
  	background: $bg-grey;
  }
  img{
  	width:100%;
  }
  .double{
  	width:100%;
  	img{
  		width:35%;
  	}
  }
}