.cart{
	background:rgb(244,247,248);
	padding-top: 3%;
  padding-bottom: 3%;
	.cartInColumnWrapper{
		background:#fff; 
		border: 1px solid lightgray; 
		padding: 3.5%;
		margin-bottom: 1%;
		@media screen and (max-width:768px){
			padding: 1%;
		}
		.stepHeading{
			margin-bottom: 2%;
		}
		.firstStep{
			.intervalItem{
				width: 25%;
				display:inline-block;
			}
			.imgPreview{
				width:13%;
			}
			.cartTable{
				overflow: auto;
				table{
					background: #fff;
				}
			}
			td{
				vertical-align: middle;
				.glyphicon{
					cursor:pointer;
				}
			}
		}
		.secondStep{
			.form{
				div{
					margin-bottom: 2%;
					.adressDetails{
					  font-weight: 400;
					  font-style: normal;
					  letter-spacing: 0.5px;
					  border: 1px solid #b9b9af;
					  min-height: 40px;
					  width: 100%;
					  padding-left: 8px !important;
					  padding-right: 8px !important;
					  border-radius: 2px;
					}
					label{
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
	.cartInColumnWrapperSmall{
		padding: 1.5%;
		background: #fff;
		border: 1px solid lightgray;
	}

	.nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    background: $bg-grey;
    border: none;
    border-bottom: 5px solid rgb(254,213,90);
    color: rgb(254,213,90);
  }

  .nav-tabs {
    border-bottom: none;
    background: $white;
    li{
      width: 25%;
      text-align: center;
      border: 1px solid $separator;
      border-bottom:none;
      a{
        margin-right: 0;
        line-height: 1.428571429;
        border: none;
        border-radius: 0;
        border-bottom: 5px solid $separator;
        overflow: hidden;
      }
    }
    li:nth-child(2){
      border-right:none;
      border-left:none;
    }
    li:nth-child(3){
      border-right:none;
    }
  }
}