$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.cart{
	.price{
		font-family: ACR !important;
	}
	background: #f4f7f8;
	padding-top: 3%;
	padding-bottom: 3%;

	@media screen and (max-width:425px){
		padding-right:5px;
		padding-left: 5px;
	}

	.modal-content{
	  padding: 5%;
	}

	.wrapper{
		margin-right:8%;
		margin-left:8%;
		@media screen and (max-width: 768px){
			margin-left: 0%;
	    margin-right: 0%;
		}
	}

	//first card
	.cartInColumnWrapper{
		background:#fff;
		border: 1px solid #e8ebe9;
		border-radius: 2px;
		padding: 3.5%;
		margin-bottom: 1%;
		width:97%;
		@media screen and (max-width:768px){
			width: 100%;
		}
		.stepHeading{
			h2{
				font-family: GL;
				font-size: 16px;
				line-height: 24px;
				color: #515252;
				text-transform: capitalize;
			}
			margin-top: 40px;
			margin-bottom: 15px;
		}

		.date{
			h3{
				font-size: 11px;
				color: #515252;
				letter-spacing: 1.5px;
				font-family: GM;
			}
		}
		
		.dateWrapper{
			.dateCircle{
				border-radius:50%;
				width: 80px;
				height: 80px;
				cursor: pointer;
				padding-top: 18px;
				display: inline-block;
				&:hover{
					.day{
						color: #f15a22;
					}
				}
				.day{
					font-size: 9px;
					letter-spacing: 2px;
					line-height: 10px;
					color: #cdcdce;
					font-family: GL;
				}
				.dateNumber{
					font-size: 20px;
					letter-spacing: 3px;
					color: #515252;
					font-family: ACR;
				}
			}
			&.active{
				.dateCircle{
					background-color: #f7f7f7;
					display: inline-block;
					width: 80px;
					height: 80px;
					padding-top: 18px;
					.day{
						color: #f15a22;
					}
				}
			}
		}

		.btn-xs{
			font-size:7px;
		}

		.firstStep{
			.intervalItem{
				width: 20%;
				display:inline-block;
			}
			.imgPreview{
				padding:0;
				width: 48px;
				height: 48px;
				background-size: auto 48px;
				background-position: center center;
				background-repeat: no-repeat;

			}
			.cartTable{
				overflow: auto;
				table{
					background: #fff;
					margin-top:2.5%;
					// min-width: 666px;
					@media screen and (max-width:768px){
						border:none;
					}
					tr{
						border: none;
					}
					td{
						vertical-align: middle;
						padding-bottom: 0;
						border-top: none;
						.glyphicon{
							cursor:pointer;
						}
					}
					.infoBox{
						// min-width:250px;
						strong{
							font-size: 14px;
							font-family: GL;
							color: #515252;
							letter-spacing: 0.5px;
						}
						span{
							font-size: 12px;
							font-family: GL;
							font-weight: 100;
							font-style: normal;
							letter-spacing: 1px;
							color: #79776b;
						}
					}
					.plusMinusBox{
						min-width:110px;
						@media screen and (max-width:425px){
							min-width: initial;
						}
						span{
							font-family: ACR;
							font-weight: 400;
							font-style: normal;
							letter-spacing: 0.5px;
							font-size: 12px;
							color: #515252;
						}
					}
					.removeFromCart{
						color: $orange;
						font-family: GL;
						font-weight: 400;
						font-style: normal;
						letter-spacing: 0.5px;
						cursor: pointer;
					}
				}
			}
		}

		.secondStep{
			sup{
				top: -0.5em;
			}
		}

		.form{
			div{
				margin-bottom: 2%;
				.adressDetails{
				  width: 100%;
				  padding-left: 8px !important;
				  padding-right: 8px !important;
				  font-weight: 400;
					font-style: normal;
					letter-spacing: 0.5px;
					font-size: 14px;
					color: #42413e;
					border: 1px solid #b9b9af;
					background-color: #FFF;
					min-height: 35px;
					border-radius: 2px;
					outline: none !important;
				}
				label{
					font-family: GL;
					letter-spacing: 0.5px;
					color: #515252;
					font-size: 12px;
				}
			}
		}

		//right card
		.makeOrder{
			width: 75%;
			font-family:GL;
			font-size: 14px;
			margin-right:12.5%;
			margin-left:12.5%;
			&[disabled],
			&[disabled]:hover{
				background-color: #b9b9af !important;
				border-color: #b9b9af;
				opacity: 0.5;
			}
		}

		.summaryHeading{
			line-height: 24px;
			color: #515252;
			font-size: 15px;
			font-family: GL;
			font-weight: 400;
			letter-spacing: 0.5px;
		}

		.orderSummary{
			td{
				border-top:none;
				font-family: GL;
				color:#515252;
				font-weight: 400;
				letter-spacing: 0.5px;
				font-size: 12px;
				padding-left:0;
			}
		}

		.subHeading{
			font-family: GL;
			color: #515252;
			font-size: 12px;
			line-height: 14px;
			margin-top: 1em;
			letter-spacing: 0.25px;
		}
		.discountForm{
			// div{
			// 	padding-left: 2%;
			// 	input{
			// 		width: 56% !important;	
			// 	}
			// }
			.col-md-6{
				&:nth-child(2){
					padding-right: 5px;
					padding-left: 5px;
				}
				&:nth-child(3){
					padding-left: 5px;
					padding-right: 5px;
				}
			}
			.discountButton{
				// width: 0px !important;
				width:100%;
				margin-right: 10px !important;
				height: 34.5px;
				// padding: 1% 30% 1% 6%;
				margin-left: 0px !important;
				.discountSpinner{
					background: url(spinner.svg) no-repeat;
					width: 30px;
					height: 16.5px;
					display: inline-block;
					background-size: 60%;
					position: absolute;
					// margin-left: 38px;
					margin-top: -9px;
				}
			}
			.discountError{
				color: #f15a22;
			}
		}
		

		.separator{
			border-color:#79776b !important;
		}

		th{
			border: none;
		}

		.summaryFinalPrice{
			font-family: GL;
			color: #515252;
			padding-top: 1.5em;
			font-size: 14px;
		}

	}
	.cartSmallText{
		margin-top:10px;
		h6{
			font-family: GL;
			font-weight:100;
			font-style:normal;
			font-size:11px;
			color:#b9b9af;
			text-align:center;
			a{
				text-decoration: underline;
				font-family: GL;
				font-weight:100;
				font-style:normal;
				// letter-spacing:1px;
				font-size:11px;
				color:#b9b9af;
				text-align:center;
				&:focus,
				&:hover{
					color:#b9b9af !important;
				}
			}
		}
	}

	// time interval
	.nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: 1px solid #e8ebe9;
    border-bottom: 1px solid rgba(252,209,91,1);
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
			 -moz-box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
						box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
  }

	.nav-tabs > li.active:not(:nth-child(1)) > a,
  .nav-tabs > li.active:not(:nth-child(1)):hover > a,
  .nav-tabs > li.active:not(:nth-child(1)):focus > a,{
  	border-left:none;
  }

  .nav li[disabled="disabled"]{
  	opacity:0.5;
  }

  .nav > li > a:hover,
  a:hover{
    color: #515252 !important;
    background: none !important;
  }

  .nav-tabs {
    border-bottom: none;
    background: $white;
    li{
      width: 20%;
      text-align: center;
      border-bottom:none;
			&:not(:first-child){
				a{
					font-family:ACR !important;
				}
			}
      a{
        margin-right: 0;
        line-height: 1.428571429;
        border: none;
        border-radius: 0;
        border: 1px solid #e8ebe9;
        overflow: hidden;
        padding: 16px 15px;
				font-style: normal;
				font-size: 12px;
        // line-height: 35px;
        color: #79776b;
        text-transform:uppercase;
        font-family: GL;
        font-weight: 100;
      }
      &:active > a,
      &.active > a,
      &.active>a:hover{
        background-color: #f7f7f7 !important;
        color: #515252 !important;
      }
      &:not(:nth-child(1))>a,{
      	border-left:none;
      }
    }
    li:nth-child(2){
      border-right:none;
      border-left:none;
    }
    li:nth-child(3){
      border-right:none;
    }
  }
}
