.cart{
	background:rgb(244,247,248);
	padding-top: 3%;
  padding-bottom: 3%;
	.cartInColumnWrapper{
		background:#fff; 
		border: 1px solid lightgray; 
		padding: 3.5%;
		margin-bottom: 1%;
		@media screen and (max-width:768px){
			padding: 1%;
		}
		.stepHeading{
			margin-bottom: 2%;
		}
		.firstStep{
			.intervalItem{
				width: 25%;
				display:inline-block;
				border:1px solid red;
			}
			.imgPreview{
				width:13%;
			}
			.cartTable{
				overflow: auto;
				background: #fff;
			}
			td{
				vertical-align: middle;
				.glyphicon{
					cursor:pointer;
				}
			}
		}
		.secondStep{
			.form{
				div{
					margin-bottom: 2%;
					.adressDetails{
					  font-weight: 400;
					  font-style: normal;
					  letter-spacing: 0.5px;
					  border: 1px solid #b9b9af;
					  min-height: 40px;
					  width: 100%;
					  padding-left: 8px !important;
					  padding-right: 8px !important;
					  border-radius: 2px;
					}
					label{
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
	.cartInColumnWrapperSmall{
		padding: 1.5%;
		background: #fff;
		border: 1px solid lightgray;
	}
}