.contract {
	margin-bottom:2%;
  .contractHeading{
  	margin-top: 2%;
  	margin-bottom:2%;
  	font-family: GM;
    @media screen and (max-width:450px){
      font-size: 1em;
    }
  }
  .contractbody{
  	border: 1px solid;
    height: 750px;
    overflow: auto;
    padding: 2%;
    @media screen and (max-width:767px){
      padding: .5%;
      font-size: .8em;
    }
  }
}