
.icon-logo-facebook:before { content: '\e800'; } /* '' */
.icon-logo-instagram:before { content: '\e801'; } /* '' */
.icon-logo-vk:before { content: '\e802'; } /* '' */
.icon-logo-twitter-bird:before { content: '\e803'; } /* '' */