$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.fullDesc{
  &.container-fluid{
    @media screen and (max-width:767px){
      padding-left:0;
      padding-right:0;
    }
  }
  sup {
    top: -.8em;
    font-size: 8px;
  }
  background:rgb(244,247,248);
  padding-bottom: 3%;
  .fullDescNav{
    margin-top: 60px;
    padding-top: 1.5%;
    padding-bottom:3%;
    height: 80px;
    .backToMenu{
      a{
        color:#515252;
        font-size: 12px;
        font-family: GM;
        font-weight: 100;
        text-transform: uppercase;
        &:hover{
          strong{
            color:#f15a22;
          }
        }
      }
    }
  }
  
  .image {
    position:relative;
    img {
      width:100%;
      vertical-align:top;
      border: 1px solid #e8ebe9
    }
  }

  .heading{
    h3{
      margin-top: 5px;
      color: #515252;
      font-weight: 600;
      font-style: normal;
      font-size: 1em;
      line-height: 1.4em;
      text-transform: uppercase;
      margin-bottom: 9px;
      font-family: GM;
      font-weight: 100;

      @media screen and (max-width:499px){
        float:left !important;
        width:100%;
      }
    }
    @media screen and (max-width:499px){
      i{
        display:none;
      }
    }   
  }

  .small-description{
    font-family: GL;
      color:#515252;
      font-size: 12px;
      margin-bottom: 13px;
  }
  
  .price{
    color: #79776b;
    font-family: ACR;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
  }

  .actions{
    margin-bottom: 2%;
    .btn{
      border-radius:2px;
      line-height: 1.7;
      font-size: 15px;
      font-family: GL;
    }
    .btnAdd{
      width:150px;
      max-width:150px;
      min-width:150px;
    }
    .btnRemove{
      width:65px;
      max-width:65px;
      min-width:65px;
    }
  }
  .columnWrapper{
    margin-bottom: 1%;
  }

  //tabs
  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 1px solid rgba(252,209,91,1);
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
       -moz-box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
            box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
  }
  .nav > li > a:hover,
  a:hover{
    color: #515252 !important;
    background: none !important;
  }
  .nav-tabs {
    border-bottom: none;
    background: $white;
    li{
      width: 33.333%;
      text-align: center;
      border: 1px solid #e8ebe9;
      border-bottom:none;
      @media screen and (max-width: 480px){
        width: 100%;
        border: 1px solid #e8ebe9 !important;
      }
      a{
        margin-right: 0;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #e8ebe9;
        overflow: hidden;
        font-size: 12px;
        line-height: 35px;
        text-transform:uppercase;
        font-family: GL;
        color: #79776b;
      }
      &:active>a,
      &.active>a,
      &.active>a:hover{
        background-color: #f7f7f7 !important; 
        color: #515252 !important;     
      }
    }
    li:nth-child(2){
      border-right:none;
      border-left:none;
    }
  }

  //tabs content
  .tab-content{
    border-left:1px solid #e8ebe9;
    border-right:1px solid #e8ebe9;
    border-bottom:1px solid #e8ebe9;
    border-radius: 3px;
    min-height: 300px;
    background: $white;

    .recipeDetails{
      border-bottom: 1px solid #e8ebe9;
      &:last-child{
        border-bottom:none;
        margin-top: 2%;
      }
    }

    .ingredientsList{
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      @media screen and (max-width:500px){
        -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
      }
    }

    .description,
    .heading{
      font-family: GL;
      color: #515252;
      font-size: 12px;
    }

    .description{
      line-height: 1.6;
    }
    .heading{
      font-family: GM;
    }

    .descriptionTable{
      border-left:none;
      border-right:none;
      tr{
        border:none;
      }
      th{
        width: 50%;
        p{
          color: #515252;
        }
        background: $white;
        border:none;
        border-bottom: 1px solid #e8ebe9;
        padding-top:2%;
        .content{
          font-family: ACR;
          font-size: 14px;
          font-weight: 100;
        }
        &:not(:nth-child(4)){
          border-right: 1px solid #e8ebe9;
        }
      }
    }

    .nutriensTable{
      padding: 1% 5%;
      td{
        border:none;
        padding: 1% 2%;
        vertical-align: middle;
        line-height: 0;
        .heading{
          margin:0;
        }
      }
    }

    .tab-pane:not(:last-child){
      padding: 2%;
    }

    .tab-pane:last-child{
      overflow: auto;
    }
  }

  //quantity hover
  .quantity:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:15%;
    top:85%; 
    left:0;
    background:rgba(254,213,90,0.95);
    opacity:1;
  }
  .inCart{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 59%;
    top: 65%;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;

    h1, p{
      font-family:GL;
      color:white;
      font-weight: 600;
      font-style: normal;
      font-size: 0.875em;
      line-height: 40px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }
}