$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

@media screen and (max-width:767px){
  .fullDesc.container-fluid{
    padding-left:0;
    padding-right:0;
  }
}

.fullDesc{
  // margin-top:1%;
  background:rgb(244,247,248);
  padding-bottom: 20%;

  .fullDescNav{
    padding-top: 1.5%;
    padding-bottom:3%;
    height: 80px;
  }
  
  .descriptionTable{
    border-left:none;
    border-right:none;
    th{
      color: $orange;
      background: $white;
    }
  }

  .heading{
    h3{
      margin-top: 5px;
      margin-bottom: 5px;
      @media screen and (max-width:499px){
        float:left !important;
        width:100%;
      }
    }
    @media screen and (max-width:499px){
      i{
        display:none;
      }
    }   
  }

  .columnWrapper{
    margin-bottom: 1%;
  }

  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    background: $bg-grey;
    border: none;
    color: rgba(252,209,91,1);
    border-bottom: 1px solid rgba(252,209,91,1);
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
       -moz-box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
            box-shadow: inset 0px -5px 0px 0px rgba(252,209,91,1);
  }

  .nav-tabs {
    border-bottom: none;
    background: $white;
    li{
      width: 33.333%;
      text-align: center;
      border: 1px solid $separator;
      border-bottom:none;
      @media screen and (max-width: 480px){
        width: 100%;
        border: 1px solid $separator !important;
      }
      a{
        margin-right: 0;
        line-height: 1.428571429;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $separator;
        overflow: hidden;
      }
    }
    li:nth-child(2){
      border-right:none;
      border-left:none;
    }
  }

  .tab-content{
    border-left:1px solid $separator;
    border-right:1px solid $separator;
    border-bottom:1px solid $separator;
    min-height: 300px;
    background: $white;
  }

  .tab-pane:not(:last-child){
    padding: 2%;
  }

  .tab-pane:last-child{
    overflow: auto;
  }

  .image {
      position:relative;
  }

  .image img {
      width:100%;
      vertical-align:top;
  }

  .quantity:after {
      content:'\A';
      position:absolute;
      width:100%; 
      height:15%;
      top:85%; 
      left:0;
      background:rgba(254,213,90,0.95);
      opacity:1;
  }

  .inCart{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 59%;
    top: 65%;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1{
      font-size: 5em;
    }

    h1, p{
      color:white;
    }
  }
}