$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.fullDesc{
  margin-top:1%;
  
  .descriptionTable{
    th{
      color: $orange;
      background: $white;
    }
  }

  .columnWrapper{
    margin-bottom: 1%;
  }

  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    background: $bg-grey;
    border: none;
    border-bottom: 1px solid $orange;
  }

  .nav-tabs {
    border-bottom: none;
    li{
      width: 33.333%;
      text-align: center;
      border: 1px solid $separator;
      border-bottom:none;
      a{
        margin-right: 0;
        line-height: 1.428571429;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $separator;
      }
    }
    li:nth-child(2){
      border-right:none;
      border-left:none;
    }
  }

  .tab-content{
    margin-top: 1%;
  }

  .image {
      position:relative;
  }

  .image img {
      width:100%;
      vertical-align:top;
  }

  .quantity:after {
      content:'\A';
      position:absolute;
      width:100%; 
      height:20%;
      top:80%; 
      left:0;
      background:rgba(254,213,90,0.8);
      opacity:1;
  }

  .inCart{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
    top: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1{
      font-size: 5em;
    }

    h1, p{
      color:white;
    }
  }
}