$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.gifts{
  background: $bg-grey;
  .intro{
    background-image: url("../images/gifts/hero.jpg");
  }
  .content {
    li{
      img{
        width: 30%;
      }
    }
  }
}
