$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.how{
   .intro{
    background-image: url("../images/how/hero1.jpg");
  }

  .ending{
    background-image: url("../images/how/hero.jpg");
  } 
   background: $bg-grey;
  .step1,
  .step2{
    display: inline-block;
  }
}