$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;


.index{
  margin-top: 28px;
  @media screen and (max-width:991px){
    margin-top: 4px;
  }
  .intro{
    background-image: url("https://rocket04.imgix.net/main_1.png?s=bb1632e76cca545ea114f1fb3b40cf58");
  }

  .ending{
    background-image: url("https://rocket04.imgix.net/main_2.jpg?s=9565f058dc43c6720e75f0264e0d079b");
    .heroContent{
      background:$white;
    }
  }

  .cardHeadign{
    font-family: GN !important;
    color: #42413e !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 2em !important;
    letter-spacing: 0.125rem !important;
    margin-bottom: 2.5% !important;
  }

  .cardText{
    font-family: GL !important;
    color: #42413e !important;
    font-size: 14px !important;
    line-height: 20px !important;
    margin-top: 20px !important;
  }

  .heroContent{
    background-color: rgba(244,247,248,0.97);
    &:before{
      display: block;
      position: absolute;
      content: " ";
      top: 14px;
      left: 14px;
      right: 14px;
      bottom: 14px;
      border: 1px solid #c8c8c1;
      pointer-events: none;
    }
    h3{
      color: #42413e;
      font-family: GL;
      font-style: normal;
      font-size: 2.6rem;
      letter-spacing: 0;
      line-height: 2rem;
      margin-top:0;
      margin-bottom: 15px;
    }
    h1{
      color: #42413e;
      font-family: GM;
      font-style: normal;
      font-size: 3.6rem;
      letter-spacing: 0.125rem;
      line-height: 3rem;
    }
    h1:after{
      display: block;
      height: .4rem;
      background-color: #515252;
      content: " ";
      margin-left: auto;
      margin-right: auto;
      width: 5rem;
      margin-top: 2rem;
    }
    h5{
      font-family: GL;
      font-size: 14px;
      color: #42413e;
      letter-spacing: 0.05rem;
      line-height: 2rem;
      margin-top: 2rem;
    }
    p{
      font-family: GM;
      font-size: 13px;
      font-style: normal;
      color: #515252;
      letter-spacing: 0.0625rem;
      margin-top: 2.5rem;
      margin-bottom: 0.625rem;
    }
    a{
      font-family: GL;
      font-size: 14px;
      letter-spacing: 0.05rem;
    }
  }

  .content{
    background: $white;
    padding-top: 7%;
    padding-bottom: 0%;
    .advantages{
      margin-bottom: 7%;
      
      li{
        img{
          width: 18%;
        }
      }
      h2{
        font-family: GL;
        color: #42413e;
        font-size: 1.1em;
        line-height: 2em;
        margin-bottom: 0.5em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.075em;
        margin-top: 15px;
      }
      p{
        font-family: GL;
        color: #515252;
        line-height: 20px;
        margin-top: 0px;
        font-size: 13px
      }
    }
    .betterLife{
      .text{
        margin-top: 9.5%;
        vertical-align: middle;
      }
    }
    .teamQuote{
      background:#ECECEC;
      padding-bottom: 15%;
      padding-top: 15%;
    }
    .principalsHeading{
      margin-top:30px;
    }
    .princepals{
      .principalsImg{
        img{
          width: initial !important;
          vertical-align: baseline;
        }
        h5{
          font-size: 2em;
          margin-top: 40px;
          margin-bottom: 0px;
        }
      }
      .principalsHeading>h2{
        font-family: GM;
        color: #515252;
        font-weight: 600;
        font-style: normal;
        font-size: 0.87em;
      }
    }
  }
  .ending{
    min-height: initial;
  }
  .ending,
  .endingintro{
    .heroContent{
      margin-top:2%;
      margin-bottom:2%;
      &:before{
        border:none;
      }
    }
  }
}