.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 999;
  overflow: hidden;
  display: none;
  .loaderContainer{
    position: absolute;
    top: 40%;
    width:100%;
    .spinner{
      position:relative;
      background: url('spinner.svg');
      background-repeat: no-repeat;
      height: 50px;
      width: 105px;
      background-position: center;
    }
    p{
      font-size: 10px;
      text-transform: uppercase;
      font-family: GM;
      color: #42413e;
    }
  }
}