$font-black: #3d464d;
$bg-primary: #ffffff;
$font-footer: #007ee5;
.slicknav_menu{
  background: none;
  position: fixed;
  width: 100%;
  top: 0;
  .slicknav_brand{
    padding-top: 0;
    img{
      height: 45px;
      width: 45px;
    }
  }
  .slicknav_btn{
    background: none;
    span{
      color: $font-footer;
      text-shadow:none;
      span{
        background: $font-footer;
        text-shadow:none;
      }
    }
  }
  ul>li>a{
    color: $font-footer;
  }
  ul>li:hover{
    
  }
  ul{
    background: $bg-primary;
    height: 100vh;
  }
}