$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$navblack: #79776b;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;
$darkgrey: #d9d9d9;

// bootstrap navigation
.navbar {
  background: $white;
  height: 80px;
  .container-fluid{
    padding-right: 30px;
  }
  .navbar-header{
    position: absolute;
    left: 47.3%;
    top: 33px;
    .navbar-brand {
      padding: 0;
      img{
        width: 100px;
      }
    }
  }
  .navbar-nav{
    li{
      a{
        color: $navblack;
        font-size:12px;
        font-family: GL;
        padding-top:28px;
        text-transform:capitalize;
        &:hover{
          color: #f15a22;
        }
      }
    }
  }
}

footer{
  background: $bg-grey;
  padding-top: 2%;
  padding-bottom: 2%;
  .heading{
    color: #42413e;
    font-family: GM;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  li:not(.heading){
    color: #79776b;
    font-family: GM;
    font-size: 0.75rem;
    line-height: 1.8rem;
    a{
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $orange;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
      /*&:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }*/
    }
  }

  input, textarea{
    display: block;
    width: 100%;
    padding:5px;
  }
  input{
    margin-bottom: 2%;
  }
  textarea{
    resize: none;
  }
  div.roundIcon{
    border-radius: 50%;
    width:40px;
    height:40px;
    display:inline-block;
    margin: 0.5%;
    margin-top:3%;
    color:$white;
    // padding-left:12px;
    padding-top: 10px;

  }
  div.footerDiv1{
    @media screen and (max-width: 767px) {
      text-align:center;
    }
  }
  div.footerDiv2{
    border-left: 1px solid $darkgrey;
    border-right: 1px solid $darkgrey;
    @media screen and (min-width: 768px) and (max-width: 992px){
      text-align: right;
    }
  }
  .vk{
        background-color: #45668e;
      }
  .facebook{
        background-color: #3b5998;
      }
  .twitter{
        background-color: #00aced;
      }
  .instagram{
        background-color: #517fa4;
      }
  .icon-logo-facebook:before { content: '\e800'; font-size: 20px;} /* '' */

  .icon-logo-instagram:before { content: '\e801'; font-size: 20px;} /* '' */

  .icon-logo-vk:before { content: '\e802'; font-size: 20px;} /* '' */

  .icon-logo-twitter-bird:before { content: '\e803'; font-size: 20px;} /* '' */

}

// slicknav navigation
.slicknav_menu{
  background: none;
  position: fixed;
  width: 100%;
  top: 0;
  background: $white !important;
  z-index: 999;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $separator;
  visibility: hidden;
  @media screen and (max-width: 991px) {
    visibility: visible;
  }
  .slicknav_brand{
    padding-top: 0;
    img{
      height: 45px;
      width: 100px;
    }
  }
  .slicknav_btn{
    background: none;
    span{
      color: $orange;
      text-shadow:none;
      span{
        background: $orange;
        text-shadow:none;
      }
    }
  }
  ul>li>a{
    color: $orange;
  }
  a.btn{
    color: $white;
  }
  ul{
    background: $white;
    height: 100vh;
  }
}
