$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.store{
  .storeNav {
    .home{
    }
  }
  
  .navbar, .navbar-default{
    border:none;
  }
  .sidebarNav{
    ul{
      margin-top: 50px;
    }
    
    li{
      margin: 10px 0;
    }
    
    li>a{
      color: $orange;
    }
  }

  .card{
    margin-bottom: 15px;
    .price{
      color: $orange;
    }
  }

  .noResult{
    background: url(../images/store/not-found.png) no-repeat;
    background-position: center;
    width:100%;
    height: 100vh;
  }
  .price{
    color:$black !important;
  }

  .btn.itemsQuantity{
    background:none;
    color:$black !important;
    &:hover{
      background:none;
    }
  }
  .separator{
    height: 1px;
    width: 100%;
    background: lightgray;
    margin: 2px 0 10px 0;
  }

  .image {
      position:relative;
  }
  .image img {
      width:100%;
      vertical-align:top;
  }
  .quantity:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(254,213,90,0.8);
      opacity:1;
  }

  .inCart{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      font-size: 10em;
    }
    h1, p{
      color:white;
    }
  }
}