$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.store{
  sup {
    top: -1em;
    font-size: 8px;
  }
  .fixed {
  position: fixed;
  top:0; left:0;}
  .storeNav {
    // margin-top:28px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #e8ebe9 !important;
    margin-bottom:0;
    z-index: 999;
    background: $white;
    width: 100%;
    @media screen and (max-width:991px){
      margin-top:0px;
    }
    .storNavItem{
      padding: 0;
      height: 60px;
    }
    .mennuFilters{
      border-right: 1px solid #e8ebe9;
      @media screen and (max-width:691px){
        border: none;
      }
      button{
        width: 100%;
        height: 55px;
        border:none;
        border-radius: 0;
        outline:none;
        font-size:12px;
        font-weight:100;
        &:active,
        &:focus,
        &:hover,
        &:visited{
          color:#8c8c8c !important;
          outline:none;
          box-shadow:none;
        }
      }
    }
    .searchMenu{
      font-family: GL;
      padding: 0 20px;
      background:$white;
      .searcMenuInput{
        height: 55px;
        border: none;
        outline:none;
        font-size: 12px;
        z-index:1;
        box-shadow:none;
        &:active,
        &:focus,
        &:hover,
        &:visited{
          outline:none;
          box-shadow:none;
        }
        &:focus,
        &:active{
          background: rgba(117,116,115,0.05);
        }
      }
      .input-group-addon{
        background: none;
        border: none;
      }
    }
    .cartIndex{
      padding: .8%;
      border-left: 1px solid $separator;
    }
  }

  .navbar, .navbar-default{
    border:none;
  }
  .sidebarNav{
    ul{
      margin-top: 50px;
    }

    li{
      margin: 10px 0;
    }

    li>a{
      color: $orange;
    }
  }
  .menuHeader{
    font-size: 14px;
    font-family: GM;
    color: #515252;
  }
  .card{
    margin-bottom: 15px;
    img{
      border: 1px solid #e8ebe9;
    }
    .description{
      .title{
        h3{
          font-size: 14px;
          letter-spacing:0.0px;
          font-family: GM;
          color: #515252;
          height: 35px;
          margin-bottom:0;
        }
      }
      .tags{
        p{
          color: #79776b;
          font-size: 12px;
          font-family: GM;
          font-weight: 100;
        }
      }
      .price{
        font-size: 17px;
        font-family: ACR;
        color: #79776b;
      }
      .actions{
        .btn{
          padding: 3.5px 8.5px;
        }
      }
    }
  }

  .noResult{
    background: url(../images/store/not-found.png) no-repeat;
    background-position: center;
    width:100%;
    height: 100vh;
  }

  .btn.itemsQuantity{
    background:none;
    color:$black !important;
    &:hover{
      background:none;
    }
  }
  .separator{
    height: 1px;
    width: 100%;
    background: #e8ebe9;
    margin: 2px 0 10px 0;
  }

  .image {
      position:relative;
  }
  .image img {
      width:100%;
      vertical-align:top;
  }
  .quantity:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(254,213,90,0.9);
      opacity:1;
  }

  .inCart{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    // display: flex;
    z-index:2;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    h1{
      font-size: 4.3em;
      letter-spacing: 3px;
      line-height: 1em;
      font-family: ARB;
      padding-top: 9.1%;
      // margin-top:-30px;
    }
    p{
      font-size: .9em;
      letter-spacing: 0.5px;
      line-height: 0.8em;
      text-transform: uppercase;
      font-family: GM;
    }
    h1, p{
      color:white;
    }
  }


  .dropdown{
    .btn{
      background: $white;
      color: #8c8c8c;
      border: 1px transparent;
      &:hover{
        background-color: #f9f9f9 !important;
        span{
          color: $black;
        }
      }
    }
    ul{
      border-radius: 0px;
      margin-top: 12%;
      width:260px;
      padding: 0;
      @media screen and (max-height:560px){
        width: 243px;
        margin-top:0;
      }
      li{
        padding: 0;
        margin: 0;
        #filter-button{
          margin: 0;
          overflow: auto;
          &:hover{
            span{
              color: $orange-hover;
              transition: all 0.3s ease-in-out 0s;
            }
          }
          label{
            font-family: GM;
            font-size: 12px;
            color: #42413e;
            letter-spacing: 2px;
            width: 243px;
            height: 50px;
            margin: 0;
            display: block;
            padding-top: 16px;
            padding-left: 15%;
            cursor: pointer;
            input[type="checkbox"] {
              display:none;
            }
            @media screen and (max-height:560px){
              padding-top: 10px;
              padding-left: 7.5%;
              height: 39px;
              span{
                vertical-align: text-bottom;
              }
            }
          }
        }
      }
      li[role="separator"]{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
    
    
    .filter-icon{
      display: inline;
      width: 12%;
      margin-right: 10%;
    }
  }
}
