$white: #ffffff;
$bg-grey: #f7f7f7;
$black: #3d464d;
$orange: #f27242;
$separator:  #d0d4d9;
$orange-hover: #f15a22;

.store{
  .storeNav {
    margin-top:28px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid #e8ebe9 !important;
    margin-bottom:0;
    @media screen and (max-width:991px){
      margin-top:5px;
    }
    .storNavItem{
      padding: 0;
      height: 60px;
    }
    .mennuFilters{
      border-right: 1px solid #e8ebe9;
      @media screen and (max-width:691px){
        border: none;
      }
      button{
        width: 100%;
        height: 55px;
        border:none;
        border-radius: 0;
        outline:none;
        &:active,
        &:focus,
        &:hover,
        &:visited{
          outline:none;
          box-shadow:none;
        }
      }
    }
    .searchMenu{
      font-family: GL;
      padding: 0 20px;
      background:$white;
      .searcMenuInput{
        height: 55px;
        border: none;
        outline:none;
        font-size: 12px;
        z-index:1;
        box-shadow:none;
        &:active,
        &:focus,
        &:hover,
        &:visited{
          outline:none;
          box-shadow:none;
        }
        &:focus,
        &:active{
          background: rgba(117,116,115,0.05);
        }
      }
      .input-group-addon{
        background: none;
        border: none;
      }
    }
    .cartIndex{
      padding: .8%;
      border-left: 1px solid $separator;
    }
  }

  .navbar, .navbar-default{
    border:none;
  }
  .sidebarNav{
    ul{
      margin-top: 50px;
    }

    li{
      margin: 10px 0;
    }

    li>a{
      color: $orange;
    }
  }
  .menuHeader{
    font-size: 14px;
    font-family: GM;
    color: #515252;
  }
  .card{
    margin-bottom: 15px;
    img{
      border: 1px solid #e8ebe9;
    }
    .description{
      .title{
        h3{
          font-size: 15px;
          letter-spacing:0.25px;
          font-family: GM;
          color: #515252;
        }
      }
      .tags{
        p{  
          color: #79776b;
          font-size: 13px;
          font-family: GL;
        }
      }
      .price{
        font-size: 17px;
        font-family: ACR;
        color: #79776b;
      }
    }
  }

  .noResult{
    background: url(../images/store/not-found.png) no-repeat;
    background-position: center;
    width:100%;
    height: 100vh;
  }

  .btn.itemsQuantity{
    background:none;
    color:$black !important;
    &:hover{
      background:none;
    }
  }
  .separator{
    height: 1px;
    width: 100%;
    background: #e8ebe9;
    margin: 2px 0 10px 0;
  }

  .image {
      position:relative;
  }
  .image img {
      width:100%;
      vertical-align:top;
  }
  .quantity:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(254,213,90,0.9);
      opacity:1;
  }

  .inCart{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    // display: flex;
    z-index:2;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    h1{
      font-size: 2.25em;
      letter-spacing: 3px;
      line-height: 1em;
      font-family: ARB;
      padding-top: 15%;
      // margin-top:-30px;
    }
    p{
      font-size: 0.875em;
      letter-spacing: 0.5px;
      line-height: 0.5em;
      text-transform: uppercase;
    }
    h1, p{
      color:white;
    }
  }
}
