/* 
$small-range:   0     , 640px 
$medium-range:  641px , 1024px 
$large-range:   1025px, 1440px 
$xlarge-range:  1441px, 1920px 
$xxlarge-range: 1921px, infinity 
*/

//colors
$bg-primary: #ffffff;
$bg-add: #f7f7f7;
$font-black: #3d464d;
$font-hover: #007ee5;
$font-footer: #007ee5;
$nav-border-top: #007ee5;
$nav-border-bottom:  #d0d4d9;
$separator:  #d0d4d9;
$button: #0071e0;
$button-border: #0071e0;
$button-hover: #3398ea;
$font-button: #ffffff;

//fonts
@font-face {
  font-family: PNB;
  src: url(../fonts/proxima-nova-bold.otf);
}
@font-face {
  font-family: PNR;
  src: url(../fonts/proxima-nova-regular.otf);
}
@font-face {
  font-family: PNL;
  src: url(../fonts/proxima-nova-light.otf);
}
$bold: PNB;
$reg : PNR;
$light : PNL;

//mixins
@mixin transition-color() {
  transition: color .25s ease-in-out;
}
@mixin transition-bg() {
  transition: background .25s ease-in-out;
}

//primary options
body{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $light !important;
}
p, a, li, span, button {
  font-family: $light !important;
}
h1, h2, h3, h4, h5, h6, p, a, li, span, .navbar-default .navbar-nav > li > a {
  color:$font-black;
}

.bottom-border{
  border-bottom: 2px solid $nav-border-bottom;
}

.wrapper{
  margin-left: 5%;
  margin-right: 5%;
}

.indent-5{
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
.indent-10{
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}
.indent-15{
  margin-top: 15% !important;
  margin-bottom: 15% !important;
}
.indent-bottom-10{
  margin-bottom: 10%;
}
.indent-top-fixed{
  margin-top: 54px;
}

.bg-primary{
  background: $bg-primary;
}
.bg-add{
  background: $bg-add;
}