<footer class="container-fluid" ng-hide="rocketStart">
  <div class="row">
    <div class="wrapper">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footerDiv1">
      <ul class="list-unstyled">
        <li><h4 class="heading">О ROCKET04</a></li>
        <li><a href="#/about">О Нас</a></li>
        <li><a href="#/how">Принцип Работы</a></li>
        <li><a href="#/contract">Приватность & условия</a></li>
      </ul>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center footerDiv2">
        <ul class="list-unstyled">
          <li><h4 class="heading">ПОМОЩЬ & КОНТАКТЫ</h4></li>
          <li>
            <a href="#/gMap" class="deliveryArea">Зона Доставки</a>
            <a href="#/contacts" class="contactsIcons">Контакты</a>
          </li>
          <li class="time">Пн-Вс, 7:00-10:00</li>
          <li><a href="https://www.facebook.com/"><div class="roundIcon text-center facebook"><i class="icon-logo-facebook"></i></div></a>
            <a href="https://twitter.com/04delivery"><div class="roundIcon text-center twitter"><i class="icon-logo-twitter-bird"></i></div></a>
            <a href="http://vk.com/rocket04"><div class="roundIcon text-center vk"><i class="icon-logo-vk"></i></div></a>
            <a href="https://www.instagram.com/04delivery/"><div class="roundIcon text-center instagram"><i class="icon-logo-instagram"></i></div></a></li>
        </ul>
      </div>
    </div>
  </div>


</footer>
