<footer class="container-fluid" ng-hide="rocketStart">
  <div class="row">
    <div class="wrapper">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footerDiv1">
      <ul class="list-unstyled">
        <li><h4>О ROCKET04</a></li>
        <li><a href="">О Нас</a></li>
        <li><a href="">Принцип Работы</a></li>
        <li><a href="">Приватность & условия</a></li>
      </ul>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center footerDiv2">
        <ul class="list-unstyled">
          <li><h4>ПОМОЩЬ & КОНТАКТЫ</h4></li>
          <li><a href="">Зона Доставки  </a><a href="">Контакты</a></li>
          <li>Пн-Вс, 7:00-10:00</li>
          <li><div class="roundIcon text-center facebook">f</div>
            <div class="roundIcon text-center twitter">t</div>
            <div class="roundIcon text-center vk">vk</div>
            <div class="roundIcon text-center instagram">i</div></li>
        </ul>
      </div>
    </div>
  </div>


</footer>