<footer class="container-fluid" ng-hide="rocketStart">
  <div class="row">
    <div class="wrapper">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footerDiv1">
      <ul class="list-unstyled">
        <li><h4>О ROCKET04</a></li>
        <li><a href="">О Нас</a></li>
        <li><a href="">Принцип Работы</a></li>
        <li><a href="">Приватность & условия</a></li>
      </ul>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center footerDiv2">
        <ul class="list-unstyled">
          <li><h4>ПОМОЩЬ & КОНТАКТЫ</h4></li>
          <li><a href="">Зона Доставки  </a><a href="">Контакты</a></li>
          <li>Пн-Вс, 7:00-10:00</li>
          <li><a href="https://www.facebook.com/"><div class="roundIcon text-center facebook"><img src="https://rocket04.imgix.net/logo-facebook.svg?s=4c1b3ae0535d08dd8e8a886e07044875" alt=""></div></a>
            <a href=""><div class="roundIcon text-center twitter"></div></a>
            <a href=""><div class="roundIcon text-center vk"><img src="https://rocket04.imgix.net/logo-vk.svg?s=c69aaa4f58526107602b92feac74bf06" alt=""></div></a>
            <a href=""><div class="roundIcon text-center instagram"><img src="https://rocket04.imgix.net/logo-instagram.svg?s=978faf7e64f3bdb7cf3a22632081bade" alt=""></div></a></li>
        </ul>
      </div>
    </div>
  </div>


</footer>
