<nav class="navbar navbar-default storeNav">
  <div class="">
    <div class="wrapper">
      <div class="col-xs-6 col-sm-2 col-md-1 col-lg-1 storNavItem mennuFilters">
        <div class="dropdown">
           <button class="btn dropdown-toggle filters" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img src="https://rocket04.imgix.net/Rocket_Filter.svg?s=dd9a853a592ace5273086702a5951825" alt=""> Фильтры
           </button>
           <ul class="dropdown-menu noclose" aria-labelledby="dropdownMenu2">
             <li>
               <!-- Завтраки -->
               <div id="filter-button">
                 <label> 
                   <img src="https://rocket04.imgix.net/Rocket_salad.svg?s=1d3431eba8960055703920fd0e702db4" alt="" class="filter-icon" />
                   <input type="checkbox" id="filter-1" ng-click="includeColour('салаты')" class="filterCheckbox">
                   <span>Салаты</span>
                 </label>
               </div>
             </li>
               <li role="separator" class="divider"></li>
             <li>
               <!-- Салаты -->
               <div id="filter-button">
                 <label>
                   <img src="https://rocket04.imgix.net/Rocket_breakfast.svg?s=cb5b04feaa075bb7a2a26a5911458ddb" alt="" class="filter-icon">
                   <input type="checkbox" id="filter-1" ng-click="includeColour('завтраки')" class="filterCheckbox">
                   <span>Завтраки</span>
                 </label>
               </div>
             </li>
               <li role="separator" class="divider"></li>
             <li>
               <!-- Супы -->
               <div id="filter-button">
                 <label>
                   <img src="https://rocket04.imgix.net/Rocket_soup.svg?s=531e27f278db3e0c4833273a2e883e1d" alt="" class="filter-icon">
                   <input type="checkbox" id="filter-1" ng-click="includeColour('супы')" class="filterCheckbox">
                   <span>Супы</span>
                 </label>
               </div>
             </li>
               <li role="separator" class="divider"></li>
             <li>
               <!-- Мясо -->
               <div id="filter-button">
                 <label>
                   <img src="https://rocket04.imgix.net/Rocket_risotto.svg?s=1fe3acbcf48a23d2148c2c56ebc70bee" alt="" class="filter-icon">
                   <input type="checkbox" id="filter-1" ng-click="includeColour('ризотто')" class="filterCheckbox">
                   <span>Ризотто</span>
                 </label>
               </div>
             </li>
               <li role="separator" class="divider"></li>
             <li>
               <!-- Риззото -->
               <div id="filter-button">
                 <label>
                   <img src="https://rocket04.imgix.net/Rocket_meat.svg?s=332610a805e818b7f42bd959f03f44b5" alt="" class="filter-icon">
                   <input type="checkbox" id="filter-1" ng-click="includeColour('мясо')" class="filterCheckbox">
                   <span>Мясо</span>
                 </label>
               </div>
             </li>
               <li role="separator" class="divider"></li>
             <li>
               <!-- Рыба -->
               <div id="filter-button">
                 <label>
                   <img src="https://rocket04.imgix.net/Rocket_fish.svg?s=564af65e669dc463ce9dab3a75d0746b" alt="" class="filter-icon">
                   <input type="checkbox" id="filter-1" ng-click="includeColour('рыба')" class="filterCheckbox">
                   <span>Рыба</span>
                 </label>
               </div>
             </li>
             </li>
               <li role="separator" class="divider"></li>
             <li>
             <li>
               <div id="filter-button">
                 <label> 
                   <img src="https://rocket04.imgix.net/Rocket_dessert.svg?s=19a532a094778e6903a2af4690cde8db" alt="" class="filter-icon">
                   <input type="checkbox" id="filter-1" ng-click="includeColour('десерты')" class="filterCheckbox">
                   <span>Десерты</span>
                 </label>
               </div>
             </li>
             </li>
               <li role="separator" class="divider"></li>
             <li>
              <li>
                <div id="filter-button">
                  <label>
                    <img src="https://rocket04.imgix.net/Rocket_drink.svg?s=e51638583ff7eddc10c220b260c71ed3" alt="" class="filter-icon">
                    <input type="checkbox" id="filter-1" ng-click="includeColour('напитки')" class="filterCheckbox">
                    <span>Напитки</span>
                  </label>
                </div>
              </li>
              </li>
                <li role="separator" class="divider"></li>
              <li>
              <li>
                <form><button type="reset" name="button" class="btn" ng-click="clearFilter();">
                  <span> Очистить Фильтр</span>
                </button></form>
              </li>
           </ul>
         </div>
      </div>
      <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1 text-center storNavItem cartIndex hidden-lg hidden-md hidden-sm">
        <a href="#/cart"><ngcart-summary></ngcart-summary></a>
      </div>

       <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 storNavItem searchMenu">
         <div class="input-group">
          <input type="text" class="form-control searcMenuInput" ng-model="search.title" placeholder="Поиск Ингредиента" >
          <span class="input-group-addon">
            <img src="https://rocket04.imgix.net/Rocket_magnifer.svg?s=ad5d273ee3b6eb7e7851a60d22a62972" alt="" width="20px" height="20xp">
          </span>
        </div>
      </div>

       <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 text-center storNavItem cartIndex hidden-xs">
         <a href="#/cart"><ngcart-summary></ngcart-summary></a>
       </div>
    </div>
  </div>
  <script type="text/javascript">

    $(document).ready(function() {
      $(document).on('click', '.dropdown-menu', function (e) {
        $(this).hasClass('noclose') && e.stopPropagation(); // This replace if conditional.
      });
      
      $('input[type="checkbox"]').click(function(){
        if($(this).prop("checked") == true){
          $(this).parent().css('background', '#E3E3E3');
        }
        else if($(this).prop("checked") == false){
          $(this).parent().css('background', 'white');
        }
      });
    });
    </script>
</nav>
