<nav class="navbar navbar-default bottom-border hidden-xs hidden-sm">
  <div class="container-fluid">
    <div class="wrapper">
      <ul class="nav navbar-nav">
        <li><a href="#/how">Принцип работы</a></li>
        <li><a href="#/about">О нас</a></li>
      </ul>
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">
          <img src="https://rocket04.imgix.net/logo.svg?s=533089706d3998f2811d218fd2fe2fa5" alt="logo" />
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/gifts">Подарки</a></li>
        <li><a href="#/rocket04">Ежедневное меню</a></li>
      </ul>
    </div>
  </div>
</nav>
