<div class="about">

  <div class="container-fluid intro  hero">
    <div class="heroContent text-left col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h1 class="text-uppercase">Миссия <br> "а что покушать?"</h1>
      <h5>
        Мы здесь что бы сделать вашу жить проще и вкуснее
      </h5>
    </div>
  </div>
  
  <div class="aboutContent container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Антон Мозговой</h3>
        <p>
          Наша команда выбирает, закупает и
          расфасовывает только самые лучшие
          и свежие ингредиенты. Каждый 
          рецепт и заказ обрабатывается в ручную.
        </p>
        <p>
          Все продукты мы покупает только у
          местных производителей, 
          поддерживая украинское
          производство
        </p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="http://cs623924.vk.me/v623924960/3ab8/dK2YHs5yB0A.jpg" alt="" class="pull-right">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 hidden-sm hidden-xs col-md-8 image">
        <img src="http://cs631925.vk.me/v631925400/d4f5/HRSKON1316k.jpg" alt="" class="pull-left">
      </div>
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Алексей Розанов</h3>
        <p>
          Вы можете сделать заказ как через
          наш сайт или социльные медиа. 
          Выбрать любое блюдо из 8 категорий
          от главных блюд с мясом, так и 
          вегетарианских рецептов, супов,
          дессертов и напитков. Все наши
          рецепты сбалансированы и основаны
          на принципах здорового питания.
        </p>
        <p>
          Вы можете выбрать удобный для вас
          доступный день доставки и мы
          доставим вам всё что необходимо для
          идеального приготовления блюда.
        </p>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg col-md-8 image">
        <img src="http://cs631925.vk.me/v631925400/d4f5/HRSKON1316k.jpg" alt="" class="pull-left">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Богдан Татарчук</h3>
        <p>
          Мы доставим ваш заказ точно в срок.
          Мы используем специальную упаковочную продукцию
          чтобы ваши ингредиенты всегда оставались свежими и
          охлаждёнными.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="http://cs624019.vk.me/v624019107/131d5/PMeJ3Uo83EE.jpg" alt="" class="pull-right">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-8 hidden-sm hidden-xs image">
        <img src="https://pp.vk.me/c629113/v629113701/4452/lu7I1qnArrU.jpg" alt="" class="pull-left">
      </div>
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Артём Карпов</h3>
        <p>
          Разнообразие рецептов это очень
          сложная и утомительная работа.
          Нжно постоянно искать что-то новое,
          закупать необходимые продукты,
          беспокоится о правильных 
          пропорциях. Но с нами всё
          становится в разы проще!
        </p>
      </div>
      <div class="col-xs-12 col-md-8 hidden-md hidden-lg image">
        <img src="https://pp.vk.me/c629113/v629113701/4452/lu7I1qnArrU.jpg" alt="" class="pull-left">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Станислав Пинчук</h3>
        <p>
          В основе нашего тартапа лежит
          желание сделать этот мир немного
          лучше. Поэтому на 2016 год  нас в 
          плахан накормить обедами 10,000 
          жителей Днепропетровска, которые в 
          этом нуждаются.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="http://cs624427.vk.me/v624427980/32688/qYnsvYOxdwI.jpg" alt="" class="pull-right">
      </div>
    </div>
  </div>
</div>