<div class="about">

  <div class="container-fluid intro  hero">
    <div class="heroContent text-left col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h1 class="text-uppercase">Миссия <br> "а что покушать?"</h1>
      <h5>
        Мы здесь чтобы сделать вашу жить проще и вкуснее
      </h5>
    </div>
  </div>

  <div class="aboutContent container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Антон Мозговой</h3>
        <p>
          Что вообще такое Rocket 04? Это команда талантливых молодых ребят, которая хочет изменить мир к лучшему через свою призму мышления. Сложность предстоящей задачи была ясна, но именно благодаря такой команде проект от простой мысли: кушать вкусно быстро и легко, перешагнул в стартап нового поколения. Rocket04 это образ мышления, где центром всего остаётся желание отдавать, а не получать.
        </p>
        <p>Любимое блюдо: Мусака</p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="http://rocket04.imgix.net/mozgovoy.jpg?s=154f54e2b66a513e21a22af9107bb304" alt="" class="pull-right">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 hidden-sm hidden-xs col-md-8 image">
        <img src="https://rocket04.imgix.net/rozanov.jpg?s=188dff8351513a72445374826314fbfd" alt="" class="pull-left">
      </div>
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Алексей Розанов</h3>
        <p>
          Rocket 04 это поистине уникальный сервис в Украине. Меня, как и у многих людей, всегда раздражало стоять в длинных очередях супермаркетов и покупать ненужное количество товара, когда мне необходимо совсем немного для изящного и вкусного блюда. Мы в Rocket 04 хотим подарить вам немного больше времени на те вещи которые действительного того заслуживают и избавить вас от ненужной ежедневной рутины похода за продуктами. Мы уверены, после нашего сервиса вы увидете мир готовки другими глазами.
        </p>
        <p>Любимое блюдо: Чизбургер</p>
      </div>
      <div class="col-xs-12 hidden-md hidden-lg col-md-8 image">
        <img src="https://rocket04.imgix.net/rozanov.jpg?s=188dff8351513a72445374826314fbfd" alt="" class="pull-left">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Богдан Татарчук</h3>
        <p>
          Когда возникла идея создать Rocket 04, я понимал что основные трудности не в технической части, но в операционной. Это необычный концепт для Украины и мы каждый день сталкиваемся с множеством проблем как и все остальные стартапы в Украине.Но все зависит только от того, насколько сильно мы сами верим в свою идею.
        </p>
        <p>Любимое блюдо: Тофу с клубникой</p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="https://rocket04.imgix.net/tatarchuk.jpg?s=fbdcb64e0fc8f17669de77cd10857a69" alt="" class="pull-right">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-8 hidden-sm hidden-xs image">
        <img src="https://rocket04.imgix.net/karpov.jpg?s=8655d69ac2d99a10d0597fe4fd22a36d" alt="" class="pull-left">
      </div>
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Артём Карпов</h3>
        <p>
          Я один из разработчиков Rocket 04, и надеюсь мы сделаем жизнь людей проще и сэкономим время и силы тем, кто очень занят. А если при этом получится научить людей готовить что-то новое - это будет замечательно! ✌
        </p>
        <p>Любимое блюдо: Стейк</p>
      </div>
      <div class="col-xs-12 col-md-8 hidden-md hidden-lg image">
        <img src="https://rocket04.imgix.net/karpov.jpg?s=8655d69ac2d99a10d0597fe4fd22a36d" alt="" class="pull-left">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 aboutCard">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">Станислав Пинчук</h3>
        <p>
          Я всегда был любителем вкусно поесть, поэтому когда я занимался Rocket 04, я понимал, что именно этот сервис я хотел бы увидеть в нашем городе.
        </p>
        <p>Любимое блюдо: Пицца</p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="https://rocket04.imgix.net/pinchuk.jpg?s=229c0605f9a0f8a24c61c3d71d6a6279" alt="" class="pull-right">
      </div>
    </div>
  </div>
</div>
