<div class="about">
  <div class="container-fluid bottom-border about1">
    <div class="wrapper">
      <div class="row indent-5">
      	<div class="col-lg-6 col-lg-offset-3">
      		<ul class="list-unstyled text-center">
      			<li><img src="../images/about/team.jpg" alt=""></li>
      			<li><h3>OCEAN 04 - компания,которая позволяет Вам вкусно покушать, сохранив при этом всю магию приготовления пищи</h3></li>
      		</ul>
      	</div>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-border">
    <div class="wrapper">
      <div class="row indent-5">
        <div class="col-lg-8 col-lg-offset-2">
          <ul class="list-unstyled text-center">
            <li>
              <h3>Куда мы стремимся</h3>
            </li>
            <li>
                <p>Мы уверены в том,что правильное питание является элементом полноценной, здоровой жизни. И если при этом мы экономим Ваше время для действительно важных вещей - мы движемся в правильном направлении.</p>
            </li>
            <li>
              <img src="../images/about/growing.png" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-border about1">
    <div class="wrapper">
      <div class="row indent-5">
        <div class="col-lg-6 col-lg-offset-3">
          <ul class="list-unstyled text-center">
            <li><img src="../images/about/matters.jpg" alt=""></li>
            <li><h3>Что мы ценим</h3></li>
            <li><p>Мы ценим качество и время. Поэтому, постоянно улучшая качество нашего сервиса, нам удается освобождать больше вашего времени на то, что действительно важно.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-border">
      <div class="row indent-5">
        <div class="col-lg-6 col-lg-offset-3">
          <ul class="list-unstyled text-center">
            <li>
              <div class="double text-center">
                <img src="../images/about/dobule.png" alt="" class="img-responsive">
              </div>
            </li>
            <li><h3>Кто мы</h3></li>
            <li>
              <p>Мы - молодая, сплоченная и целеустремленная команда. Мы готовы решать грандиозные задачи и делать этот мир чуточку лучше.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row indent-5 text-center">
        <div class="col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2">
          <ul class="list-unstyled">
            <li><img src="" alt=""></li>
            <li><h4>Anton Mozgovoy</h4></li>
            <li><p>Сооснователь и исполнительный директор</p></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2">
          <ul class="list-unstyled">
            <li><img src="" alt=""></li>
            <li><h4>Alexey Rozanov</h4></li>
            <li><p>Сооснователь и операционный директор</p></li>
          </ul>
        </div>
      </div>
  </div>
  <div class="container-fluid bottom-border about1">
    <div class="wrapper">
      <div class="row indent-5 text-center">
        <div class="col-lg-6 col-lg-offset-3">
          <ul class="list-unstyled">
            <li><h3>Мы быстро развиваемся и были бы очень рады, если бы Вы захотели погрузиться в мир вкусной еды вместе с нами. </h3></li>
            <li><div class="col-lg-8 col-md-6 col-sm-6 col-md-offset-3 col-lg-offset-2 col-sm-offset-3"><img src="../images/about/sushi.jpg" alt=""></div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>