<div class="container-fluid cart">

	<div class="container-fluid notification fadein fadeout" ng-show="notification">
		<div class="col-xs-12 text-center">
			<h5 ng-show="successOrder" class="fadein fadeout">Ура! Ваш заказ был принят. Теперь остаётся только ждать своих вкусняшек.</h5>
			<h5 ng-show="errorOrder" class="fadein fadeout">Упс! Кажется что-то пошло не так. Поробуйте ещё раз через 30 секунд.</h5>
		</div>
	</div>

	<div class="wrapper">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
			<div class="row">
				<div class="column cartInColumnWrapper" style="padding-top:0;">
					<div class="firstStep">
						<div class="col-xs-12 bottom-border text-center stepHeading">
							<h2>Шаг 1: Выберите окно доставки</h2>
						</div>

						<div class="row">
							<div class="col-xs-12 date">
								<h3><strong>Ближайшая доступная дата доставки: </strong><span class="text-capitalize">{{deliveryDate|date:'EEEE, d MMMM'}}</span></h3>
							</div>

							<div class="col-xs-12">
								<uib-tabset >
				          <uib-tab heading="10.00 - 13.00"></uib-tab>
				          <uib-tab heading="13.00 - 16.00"></uib-tab>
				          <uib-tab heading="16.00 - 19.00"></uib-tab>
				          <uib-tab heading="19.00 - 22.00"></uib-tab>
				        </uib-tabset>
							</div>
			        
							<div class="col-xs-12 cartTable">
								<table class="table table-responsive" cols="4">
									<tbody>
										<tr ng-repeat="item in cartItems.items">
											<td class="imgPreview text-left" background="{{item._data.img}}" width="48px" height="48px">
												<!-- <img ng-src="{{item._data.img}}" alt=""/> -->
											</td>
											<td class="text-left infoBox"> 
												<strong>{{item._name}}</strong> 
												<br> 
												<span>{{item._price | currency:"\u20b4"}}</span>
											</td>
											<td class="text-center plusMinusBox" width="10%">
												<a class="btn btn-xs removeFromCart" ng-click="item.setQuantity(-1, true); getCart(); countTotal(); checkShipping()">
													<i class="glyphicon glyphicon-minus"></i>
												</a>
												&nbsp;<span>{{item._quantity}}</span>&nbsp;
												<a class="btn btn-xs removeFromCart" ng-click="item.setQuantity(1, true); getCart(); countTotal(); checkShipping()">
													<i class="glyphicon glyphicon-plus"></i>
												</a>
											</td>

											<td class="text-center" width="10%">
												<span ng-click="removeItem(item._id); getCart(); countTotal(); checkShipping()">
													<h5 class="removeFromCart">Убрать</h5>
												</span>
											</td>
										</tr>
										<tr ng-hide="cartItems.items.length">
											<td colspan="4" class="text-center">Вы ещё ничего не добавили сюда.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="secondStep">
						<div class="col-xs-12 bottom-border text-center stepHeading">
							<h2>Шаг 2: Выберите адрес для доставки</h2>
						</div>
						<div class="row">
							<div class="form" ng-form="customerDetails" novalidate>
								<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
									<label for="adress">Адрес</label>
									<input id="adress" type="text" class="adressDetails adress" placeholder="Введите адрес" ng-model="formUser.address" required>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<label for="appartment">Номер Квартиры</label>
									<input id="appartment" type="text" class="adressDetails appartment" ng-model="formUser.appartment">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<label for="name">Имя</label>
									<input id="name" type="text" class="adressDetails name" ng-model="formUser.name" required>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<label for="surname">Фамилия</label>
									<input id="surname" type="text" class="adressDetails surname" ng-model="formUser.surname" required>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<label for="phone">Номер Телефона</label>
									<input id="phone" type="tel" class="adressDetails phone" ng-model="formUser.phone" value="+38" required>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div class="col-lg-1 col-md-1"></div> -->

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="row">
				<div class="column cartInColumnWrapper pull-right">

					<button ng-disabled="customerDetails.$invalid || cartTotal == 0" class="btn text-center makeOrder" ng-click="checkout();">Сделать Заказ</button>

					<h5 class="summaryHeading"><strong>Сведения о Заказе</strong></h5>

					<div class="col-xs-12">
						<table class="table orderSummary">
							<tbody>
								<tr>
									<td class="text-left">Продукты</td>
									<td class="text-right">{{ cartTotal | currency:"\u20b4" }}</td>
								</tr>
								<tr>
									<td class="text-left">Доставка</td>
									<td class="text-right">{{ shipping | currency:"\u20b4" }}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h6 class="subHeading">
						Вы сможете оплатить свой заказ как наличными,
						так и кредитной картой при доставке
					</h6>

					<hr class="separator">

					<table class="table summaryFinalPrice">
						<thead>
							<tr>
								<th class="text-left">ИТОГО</th>
								<th class="text-right">{{ totalWithShipping | currency:"\u20b4" }}</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 cartSmallText">
			<h6>Делая заказ вы соглашаетесь с нашими <a href="#/contract" class="text-underline">Правилами и Условиями</a></h6>
		</div>
	</div>
</div>
