<div class="contacts">
	<div class="container-fluid">
		<div class="col-xs-12 col-md-8 col-md-offset-2 contatcsBody">
			
			<div class="col-xs-12">
				<h1 class="contactsHeading text-center text-uppercase indent-10">Контакты</h1>
			</div>

			<div class="col-xs-12 contactsBody">
				<div class="contactsCart">
					<h3>Техническая поддержка</h3>
					<table class="table">
						<tr>
							<td>Email</td>
							<td><a href="">Email Поддержка</a></td>
							<td>24/7</td>
						</tr>
						<tr>
							<td>Телефон</td>
							<td>+38 050 341 56 46</td>
							<td>07:00 - 21:00</td>
						</tr>
					</table>
				</div>
				<div class="contactsCart">
					<h3>Общие вопросы</h3>
					<a href="help@rocket04.com" class="email">help@rocket04.com</a>
				</div>
				<div class="contactsCart">
					<h3>Вопросы по сотрудничеству</h3>
					<a href="@rocket04.com" class="email">anton@rocket04.com</a>
				</div>
				<div class="contactsCart">
					<h3>Адрес</h3>
					<address>
					  Rocket04<br>
					  ул.Баррикадная 4-Б<br>
					  Днепропетровск 49000<br>
					  Телефон - +380503415646
					</address>
				</div>
			</div>

		</div>
	</div>
</div>