<div class="contract">
	<div class="container-fluid">
		<div class="wrapper">
			<div class="col-xs-12 text-center text-uppercase">
				<h1 class="contractHeading">пользовательское соглашение</h1>
			</div>
			<div class="contractbody col-xs-12 col-md-8 col-md-offset-2">
				<span>

1. ТЕРМІНИ, ЩО ВИКОРИСТОВУЮТЬСЯ В ДОГОВОРІ 
<br><br>
1.1 Публічна Оферта – пропозиція до придбання Товарів та/або Послуг Продавця, яка опублікована на Сайті Продавця, звернена до невизначеного кола осіб, в тому числі до Користувачів.
<br>
1.2. Товар - продукти харчування, супутні товари та послуги, замовлення яких здійснюється за зразками, представленими в Інтернет-магазині.
<br>
1.3. Покупець (Користувач) - особа, яка розміщує замовлення на Товари через інтернет-сторінку за адресою http://rocket04.com або за допомогою телефонного зв'язку.
<br>
1.4. Сайт Продавця - інформаційний ресурс в мережі Інтернет, що належить Продавцю, розташований за адресою http://rocket04.com.
<br>
1.5. Служба доставки - підрозділ Продавця, або стороння організація, що здійснює доставку Товарів.
<br>
1.6. Умови доставки - умови, які регламентують порядок доставки та оплати Товарів. Умови доставки розміщені на інтернет-сторінці за адресою http://rocket04.com/delivery.
<br>

2. ПРЕДМЕТ ДОГОВОРУ
<br><br>
2.1. Продавець надає Покупцеві можливість здійснювати замовлення Товарів на сайті Продавця або за допомогою телефонного зв'язку. Продавець може надавати Користувачу інші послуги на умовах Додатків до Договору.
<br>

3. ЗАГАЛЬНІ ПОЛОЖЕННЯ
<br><br>
3.1. Фізична особа-підприємець Мозгова Антоніна Олександрівна (номер запису в Державному реєстрі юридичних осіб та фізичних осіб підприємців: 2 224 000 0000 075542, Дата запису: 23.12.2010), іменований надалі «Продавець», з одного боку, і користувач мережі Інтернет, іменований надалі «Покупець», з іншого боку, спільно іменовані «Сторони» , уклали цей договір (далі - «Договір»).
<br>
3.2. Публічний Договір, відповідно до статті 633 Цивільного кодексу України, є договір, в якому одна сторона - підприємець взяла на себе обов'язок здійснювати продаж товарів, виконання робіт або надання послуг кожному, хто до неї звернеться.
<br>
3.3. Відповідно до статті 642 Цивільного Кодексу України, якщо особа, яка одержала пропозицію укласти договір, у межах строку для відповіді вчинила дію відповідно до вказаних у пропозиції умов договору (відвантажила товари, надала послуги, виконала роботи, сплатила відповідну суму грошей тощо), яка засвідчує її бажання укласти договір, ця дія є прийняттям пропозиції.
<br>
3.4. Претензії щодо якості продукції приймаються протягом 7 (семи) робочих днів з моменту доставки Товару. Офіційна державна експертиза проводиться за рахунок зацікавленої сторони і тільки при збереженні цілісності упаковки. Адреси та інші контактні відомості для направлення претензій: 49000, м. Дніпропетровськ, вулиця Баррикадна 4-Б, телефони: +38 (050) 341-56-46, або на адресу електронної пошти: help@rocket04.com.
<br>

4. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН
<br><br>
4.1. Для реєстрації Покупця на сайті Продавця Покупець заповнює форму реєстрації, висловлює згоду з умовами цього Договору шляхом натискання кнопки «Замовити».
<br>
4.2. Якщо Покупець надає невірну інформацію або у Продавця є серйозні підстави вважати, що надана ним інформація невірна, неповна або неточна, Продавець має право призупинити або скасувати реєстрацію Покупця і / або відмовити зареєстрованому Покупцеві у використанні своїх послуг.
<br>
4.3. Вказуючи свій номер телефону та адресу електронної пошти при реєстрації, Покупець погоджується отримувати від Продавця SMS та Email повідомлення інформаційного характеру.
<br>

5. ОПИС ПОСЛУГ
<br><br>
5.1. Сайт Продавця є основним способом для ознайомлення з Товаром і оформленням замовлення Покупцем.
<br>
5.2. У разі відсутності замовленого Товару на момент прийняття замовлення в роботу співробітник Продавця вправі узгодити з Покупцем заміну Товару, виключити відсутній Товар або скасувати замовлення. Продавець зобов'язується повідомити Покупця про зміну комплектності його замовлення шляхом направлення повідомлення на електронну адресу, вказану при реєстрації в Інтернет-магазині, за допомогою телефонного зв'язку або SMS повідомлення.
<br>
5.3. При отриманні Продавцем замовлення на доставку Товару, узгодження замовлення з Покупцем відбувається за допомогою SMS-повідомлення або телефонного дзвінка, залежно способу зв'язку, обраного Покупцем при замовленні або при минулих замовленнях.
<br>
5.4. Доставка Товару здійснюється в межах м. Дніпропетровськ, за адресою, зазначеною Покупцем при оформленні замовлення та за умови підтвердження доставки Продавцем. Доставка здійснюється відповідно з датою і часом, погодженими з Покупцем. Підтвердження доставки проводиться Продавцем по телефону та / або за допомогою SMS повідомлення.
<br>
5.5. Покупець згоден приймати на зазначені ним при реєстрації та / або розміщенні замовлення телефонні номери дзвінки операторів і кур'єрів Продавця, а також SMS повідомлення і листи електронною поштою, з приводу виконання замовлення, а також приймати повідомлення по іншим зазначеним засобам зв'язку. Покупець згоден приймати від співробітника Продавця або уповноваженої ним особи замовлений Товар за адресою, вказаною Покупцем при реєстрації та / або розміщенні замовлення.
<br>
5.6. Покупець в момент замовлення зобов'язаний надати Продавцю максимально точну інформацію про своє місцезнаходження за вказаною ним адресою, а також забезпечити вільний і безперешкодний доступ співробітника Продавця або уповноваженої ним особи за вказаною Покупцем адресою.
<br>
5.7. Усі матеріали, представлені на сайті Продавця, носять довідковий характер і не завжди в повній мірі передають достовірну інформацію про властивості Товару. Продавець не несе відповідальність за її невідповідність реальним характеристикам Товару. Термін зберігання поставленого Товару та інгредієнтів, що входять до складу Товару, дорівнює 6 (шести) календарним дням з дня доставки Товару Покупцеві. Продавець не несе відповідальності за шкоду, заподіяну в ході порушення Покупцем зазначених умов і термінів зберігання придбаних Товарів та інгредієнтів.
<br>
5.8. Покупець має право відмовитися від замовленого Товару в будь-який час, але не пізніше середи, попередньої узгодженим дня доставки Товару. У будь-який час після середи, але не пізніше 24 годин до погодженого часу доставки, Покупець має право перенести дату доставки на один з наступних тижнів.
<br>
5.9. При оплаті банківською картою повернення грошових коштів здійснюється на ту карту, з якої був здійснений платіж. Покупець не вправі відмовитися від сплаченого Замовлення (або його частини) належної якості. Товари належної якості обміну та поверненню не підлягають.
<br>
5.10. Покупець за погодженням з Продавцем має право здійснити зміну замовлення. Така зміна має проводитися не пізніше ніж за 24 години до узгодженого часу доставки. При цьому якщо оплата здійснювалася безготівковим розрахунком, Продавець здійснює коригування оплати шляхом повернення частини коштів на ту карту, з якої був здійснений платіж.
<br>
5.11. У випадку, якщо Товари були доставлені за адресою і в терміни, встановлені в замовленні, але не були вручені Покупцеві з причин, не залежних від Продавця (відмова Покупця від приймання Товару належної якості; Покупець неправильно вказав адресу при замовленні, в призначений час в межах 15 хвилин за вказаною адресою Товар ніхто не прийняв і при цьому за телефонним номером, вказаним при замовленні, ніхто не відповів, і т.п.), Продавець має право вимагати з Покупця відшкодування повної вартості неприйнятих Товарів. Якщо оплата здійснювалася безготівковим розрахунком, Продавець не здійснює повернення грошових коштів. Якщо оплата повинна була бути проведена готівковим розрахунком, Продавець має право вимагати від Покупця оплату повної вартості неприйнятих Товарів.
<br>
5.12. У разі виявлення недоліків Товару Покупець має право за своїм вибором вимагати заміни такого Товару товаром належної якості або відповідного зменшення купівельної ціни. Замість пред'явлення зазначених вимог Покупець має право відмовитися від придбаного Товару і зажадати повернення сплаченої за товар грошової суми. При цьому Покупець на вимогу Продавця і за його рахунок повинен повернути отриманий товар неналежної якості.
<br>
5.13. Відповідно до ч. 8 ст. 8 Закону України «Про захист прав споживачів», у разі придбання споживачем продовольчих товарів неналежної якості продавець зобов'язаний замінити їх на товари належної якості або повернути споживачеві сплачені ним гроші, якщо недоліки виявлено у межах строку придатності. При цьому розрахунки із споживачем провадяться в порядку, передбаченому абзацом третім частини сьомої статті 8. Претензії щодо якості Товару можуть бути пред'явлені Покупцем Продавцеві протягом терміну придатності Товару, зазначеного в п. 5.7 цього Договору.
<br>

6. УМОВИ ВИКОРИСТАННЯ МАТЕРІАЛІВ, РОЗМІЩЕНИХ НА САЙТІ ПРОДАВЦЯ
<br><br>
6.1. Сайт Продавця містить матеріали, що охороняються авторським правом, товарні знаки та інші охоронювані законом матеріали, включаючи, але не обмежуючись: тексти, фотографії, графічні зображення.
<br>
6.2. Продавцевi належать виключні права на використання змісту сайту Продавця, крім випадків, окремо зазначених у змісті опублікованих на сайті матеріалів.
<br>
6.3. Покупець, а також будь-яка особа, що відвідала сайт Продавця, не має права вносити зміни, публікувати, передавати третім особам, брати участь у продажу або поступку, створювати похідні продукти або іншим чином використовувати, частково або повністю, зміст сайту Продавця.
<br>

7. ДОСТАВКА, ОПЛАТА ТА ПОВЕРНЕННЯ
<br><br>
7.1. Вартість доставки, способи оплати придбаних товарів та послуг і процедура оформлення замовлення вказані в розділі «Доставка і оплата» за адресою http://partiyaedi.ru/delivery. Оформляючи замовлення, Покупець погоджується, що сповіщений і згоден з оплатою вартості Товарів і їх доставки.
<br>
7.2. Оплата повинна бути здійснена не пізніше моменту прийому Товару Покупцем готівкою або банківською картою.
<br>
7.9. Для повернення грошових коштів, зарахованих на розрахунковий рахунок Продавця помилково, за допомогою платіжних систем, Покупець повинен звернутися з письмовою заявою та додатком копії паспорта та чеків / квитанцій, підтверджуючих помилкове зарахування. Дана заява необхідно направити за адресою: help@rocket04.com.
<br>
7.10. Після отримання письмової заяви з додатком копії паспорта та чеків / квитанцій, Продавець здійснює повернення в термін до 21 (двадцяти одного) робочого дня з дня отримання 3аяви на розрахунковий рахунок Покупця, зазначений у заяві. У цьому випадку, сума повернення буде дорівнювати вартості Замовлення. Термін розгляду Заяви та повернення грошових коштів Покупцеві починає обчислюватися з моменту отримання Продавцем Заяви і розраховується в робочих днях без урахування свят / вихідних днів.
<br>
7.11. Порядок повернення регулюється правилами міжнародних платіжних систем. Повернення готівковими коштами не допускається.
<br>
7.12. У разі прийому Товару та його оплати, Покупець зобов'язаний розписатися в супровідних документах, зробивши позначки про прийом або відмову від замовлення (його частини) та про внесені суми.
<br>

8. ТЕРМІН ДІЇ ДОГОВОРУ
<br><br>
8.1. Договір набуває чинності з моменту оформлення заказу Користувачем на сайті http://rocket04.com і діє до повного виконання Сторонами своїх зобов'язань.
<br>

9. ІНДИВІДУАЛЬНІ ВИПАДКИ СТАНУ ЗДОРОВ'Я, АЛЕРГІЧНІ РЕАКЦІЇ ТА ОСОБИСТІ ПРОТИПОКАЗАННЯ
<br><br>
9.1. До складу продуктів можуть бути включені інгредієнти, що викликають особисті алергічні реакції і непереносимість. Роблячи замовлення на Товари на сайті Продавця, Покупець підтверджує, що ознайомився з їхнім складом і не має до нього претензій.
<br>
10. ОБСТАВИНИ НЕПЕРЕБОРНОЇ СИЛИ
<br><br>
10.1. Сторони звільняються від відповідальності за часткове або повне невиконання зобов'язань за цим Договором у випадку, якщо таке невиконання стало прямим наслідком обставин непереборної сили (форс-мажорних обставин), що виникли після укладення Договору, в результаті подій надзвичайного характеру, а саме: пожежі, повені, урагану і землетруси або накладення органами державної влади обмежень на діяльність будь-якої з Сторін, і якщо ці обставини Сторони не могли ні передбачити, ні запобігти розумними заходами.
<br>
11. ВИРІШЕННЯ СПОРІВ
<br><br>
11.1. Спори і розбіжності, які можуть виникнути з даного Договору, вирішуються шляхом переговорів з дотриманням досудового (претензійного) порядку. Термін розгляду Продавцем претензії - 14 (чотирнадцять) календарних днів з моменту її отримання від Покупця.
<br>
11.2. Якщо Сторони не дійдуть згоди, ці суперечки і розбіжності вирішуються у судовому порядку згідно чинного законодавства України.
<br>
12. ПОВІДОМЛЕННЯ ПРО КОНФІДЕНЦІЙНІСТЬ
<br><br>
12.1 Згода користувача на надання персональної інформації визначається згодою з цієї публічної офертою, що відбувається автоматично при реєстрації Покупця на сайті Продавця або при здійсненні ним добровільного платежу.
<br>
12.2 Для надання послуг Продавець збирає та зберігає тільки необхідні персональні дані користувача. Продвець може використовувати персональні дані користувача для його ідентифікації, уточнення даних платежу, надання персоналізованих сервісів, зворотного зв'язку з Покупцем, обробки заявок і запитів, виконання знеособлених статистичних обчислень і поліпшення якості послуг, що надаються Покупцю.
<br>
12.3. Продавець вправі передати персональну інформацію користувача третім особам тільки у випадках, якщо:
покупець висловив свою згоду на такі дії,
передача необхідна для надання послуги Покупцю,
передача передбачена законодавством України.
<br>
13. ІНШІ УМОВИ
<br><br>
13.1. У випадку, якщо будь-яке положення або будь-яка частина положення Договору визнані недійсними або що не мають юридичної сили, решта положень і частини положень Договору залишаються в повній силі і дії.
<br>
13.2. Всі Додатки до цього Договору (при їх наявності) є його невід'ємною частиною.
<br>
13.3. У всьому іншому Сторони домовилися керуватися чинним законодавством України.
<br>
13.4. Продавець має право вносити зміни до Договору з обов'язковим розміщенням відповідної інформації на Сайті Продавця за 14 (чотирнадцять) календарних днів до вступу відповідних змін в силу.
<br>
13.5. За всіма питаннями Покупець має право звертатися за адресою електронної пошти: help@rocket04.com або за телефонами, вказаними на сайті Продавця.

				</span>
			</div>
		</div>
	</div>
</div>