<div ng-controller = "FulldescCtrl as f" class="container-fluid fullDesc" style="margin-top: -52px;">
  <div class="wrapper">
    
    <div class="fullDescNav">
      <div class="col-xs-7 pull-left backToMenu">
        <a href="#/rocket04"><img src="https://rocket04.imgix.net/back_to_menu.svg?s=6e3904559d38807931f181f7d9120327" alt="" width="26px"> <strong>НАЗАД В МЕНЮ</strong></a>
      </div>
      <div class="col-xs-5 text-right pull-right">
        <a href="#/cart"><ngcart-summary></ngcart-summary></a>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6 text-center photoColumn columnWrapper">
      <div class="image photo-container" ng-class="{'quantity':f.getInCartQuantity(receipe.id)}"> 
        <div ng-hide="!f.getInCartQuantity(receipe.id)" class="inCart fadein fadeout"> 
          <p>{{f.getInCartQuantity(receipe.id)}} в Вашей корзине</p>
        </div>
        <img ng-src="{{receipe.photo}}">
      </div>
    </div>

    <div class="col-xs-12 col-lg-6 primaryColumn columnWrapper">
      <div class="text-left">
        <div class="heading col-xs-12">
          <h3 style="display: inline-block" class="pull-left"><strong>{{receipe.title}}</strong></h3>
          <i class="spaces">&nbsp;</i>
          <p style="display: inline-block" class="pull-right text-xs-left text-sm-left price">
            {{receipe.newPrice.grand}}.<sup>{{receipe.newPrice.cents}}<span ng-hide="receipe.newPrice.cents.length">00</span></sup>  UAH
          </p>
        </div>
        <div class="description col-xs-12">
          <p class="text-muted small-description">Порция на {{receipe.portions}} человек. Время приготовления {{receipe.time}} минут.</p>
        </div>
        <div class="actions col-xs-12">
          <button class="btn btn-md btnAdd" ng-click="f.AddToCart(receipe.id, receipe.title, receipe.price, 1, {img:receipe.photo})"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
          <button class="btn btn-md btnRemove" ng-click="f.removeFromCart(receipe.id)" ng-hide="!f.getInCartQuantity(receipe.id)"><i class="glyphicon glyphicon-minus"></i></button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-6 tabsetColumn columnWrapper">
      <div class="col-xs-12 tabsetColumnWrapper">
        <uib-tabset >
          <uib-tab heading="Детали">
            <div class="row">
              <div class="col-xs-12 allergies recipeDetails">
                <ul class="list-inline list-unstyled">
                  <li ng-repeat="i in receipe.diet" class="text-center">
                    <span >
                      <img ng-src="{{diet[i].img}}" alt="">
                      <br>
                      <p class="description" style="display: inline-block">{{diet[i].name}}</p>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 history recipeDetailsLast">
                <p class="text-capitalize heading">История рецепта</p>
                <p class="description">{{receipe.description}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 vine recipeDetailsLast">
                <p class="text-capitalize heading">Рекомендованное вино</p>
                <p class="description">{{receipe.vine}}</p>
              </div>
            </div>
          </uib-tab>

          <uib-tab heading="Ингредиенты">
            <div class="row ingredientsContent">
              <div class="col-xs-12">
                <p class="heading">Ингредиенты</p>
                <div class="ingredientsList">
                  <span ng-repeat="ing in receipe.ingredients">
                    <p class="description">{{ing}}</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="row ingredientsContent recipeDetailsLast">
              <div class="col-xs-12">
                <p class="heading">Предостережение</p>
                <p class="description">
                  Предостережение по пищевой аллергии: внимательно изучайте ингредиенты рецепта.
                  Если у вас есть пищевая аллергия на определенный ингредиент, пожалуйста,
                  воздержитесь от заказа и сначала проконсультируйтесь у диетолога.
                </p>
              </div>
            </div>
          </uib-tab>

          <uib-tab heading="Нутриенты">
            <table class="table descriptionTable">
              <tr>
                <th>
                  <p class="heading">Размер Порции</p>
                  <p class="content ACR">
                    {{receipe.size}} g
                  </p>
                </th>
                <th>
                  <p class="heading">Калории</p>
                  <p class="content ACR">
                    {{receipe.newNutrients.callories}} ccal
                  </p>
                </th>
              </tr>
            </table>

            <div class="col-xs-12 nutriensTable">
              <p class="description">На Порцию*</p>
              <table class="table table-striped">
                <tr>
                  <td class="text-left">
                    <p class="heading">Белки</p>
                  </td>
                  <td class="text-right">
                    <p class="description ACR" style="margin:0;">
                      {{receipe.newNutrients.proteins}} g
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <p class="heading">Жиры</p>
                  </td>
                  <td class="text-right">
                    <p class="description ACR" style="margin:0;">
                      {{receipe.newNutrients.fats}} g
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="text-left"> 
                    <p class="heading">Углеводы</p>
                  </td>
                  <td class="text-right">
                    <p class="description ACR" style="margin:0;">
                      {{receipe.newNutrients.carbohydrates}} g
                    </p>
                  </td>
                </tr>
              </table>
              <p class="description">
                *Мы стараемся всегда чётко соответствовать объявленному номиналу,
                но все работы выполняются вручную и возможны мелкие отклонения от указанного веса.
              </p>
            </div>

          </uib-tab>
        </uib-tabset>
      </div>
    </div>

  </div>
</div>