<div ng-controller = "FulldescCtrl" class="container-fluid fullDesc">
  <div class="wrapper">
    <div class="indent-5">
      <div class="col-xs-12 col-lg-5 text-center">
        <img ng-src="{{receipe.photo.url}}" class="photo">
      </div>

      <div class="col-xs-12 col-lg-7">
        <div class="text-left">
          <div class="heading col-xs-12">
            <h3 style="display: inline-block" class="pull-left">{{receipe.title}}</h3>
            <h3 style="display: inline-block" class="pull-right">{{receipe.price | currency:"\u20b4"}}</h3>
          </div>
          <div class="description col-xs-12">
            <p class="text-muted small-description">порция на {{receipe.portions}}, время приготовления {{receipe.time}} минут.</p>
          </div>
          <div class="actions col-xs-12">
            <ngcart-addtocart id="{{ receipe.id }}" name="{{ receipe.title }}" price="{{ receipe.price }}" quantity="1" quantity-max="9" class="price">Добавить <i class="glyphicon glyphicon-plus"></i></ngcart-addtocart>
          </div>
        </div>
      </div>

      <uib-tabset class="col-xs-12 col-lg-7">
        <uib-tab heading="Детали">
          <p>{{receipe.description}}</p>
        </uib-tab>

        <uib-tab heading="Ингредиенты">
          <span ng-repeat="ing in receipe.Ingri">
            <p>{{ing.name}}</p>
          </span>
        </uib-tab>

        <uib-tab heading="Нутриены">
          <table class="table table-bordered descriptionTable">
            <tr>
              <tr>
                <th ng-repeat="nu in receipe.nu">{{nu.name}}</th>
              </tr>
              <tr>
                <td ng-repeat="nu in receipe.nu"><strong>{{nu.quantity}} гр.</strong></td>
              </tr>
            </tr>
          </table>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>