<div class="gifts">

  <div class="container-fluid">
    <div class="row">
      <img src="https://rocket04.imgix.net/banner_gifts.jpg?s=416b94cf6608ed05f7b259e789195785" alt="" width="100%">
    </div>
  </div>

  <div class="container-fluid intro  hero">
    <div class="heroContent text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-uppercase">подарите подарок, который пригодится каждому</h1>
      <h5>
        Идеален для молодых родителей, занятых людей, и всех кто любит вкусно покушать в Днепропетровске.
      </h5>
    </div>
  </div>

  <div class="container-fluid giftsContent">
    <div class="col-xs-12 col-md-10 col-md-offset-1 step firstStep">
      <h4 class="text-left"><strong>Шаг 1</strong> &nbsp;&nbsp;&nbsp;&nbsp;Выберите подарочный сертификат</h4>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 giftCard">
          <div class="inCart">
          </div>
          <div class="giftCardHeading">
            <h3>&#8372;50.<sup>00</sup></h3>
          </div>
          <div class="giftCardImg" style="background:url(https://rocket04.imgix.net/gifts_1.jpg?s=fa9dea2977649ce50e30185840863067); background-size: cover;">
          </div>
          <div class="giftCardDescr">
            <p class="text-center">
              Быстро. Вкусно. Надёжно. <br>
              Идеальный вариант, если других вариантов нет.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 giftCard">
          <div class="giftCardHeading">
            <h3>&#8372;100<sup>00</sup></h3>
          </div>
          <div class="giftCardImg" style="background:url(https://rocket04.imgix.net/gifts_2.jpg?s=77307f3ac2cd865f502625a63ad84970); background-size: cover;">
          </div>
          <div class="giftCardDescr">
            <p class="text-center">Целая неделя вкусных обедов и ужинов на двоих.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 giftCard">
          <div class="giftCardHeading">
            <h3>&#8372;250<sup>00</sup><span pull-right>Популярное</span></h3>
            
          </div>
          <div class="giftCardImg" style="background:url(https://rocket04.imgix.net/gifts_3.jpg?s=67d0cef4aafa8c934c57a971ee6f4e22); background-size: cover;">
          </div>
          <div class="giftCardDescr">
            <p class="text-center">Идеальные выходные без головной боли на двоих.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 giftCard active">
          <div class="giftCardHeading">
            <h3>&#8372;500<sup>00</sup></h3>
          </div>
          <div class="giftCardImg" style="background:url(https://rocket04.imgix.net/gifts_4.jpg?s=bf19b02e7d7a5a76de7773444db6656f); background-size: cover;">
          </div>
          <div class="giftCardDescr">
            <p class="text-center">Целая неделя вкусных обедов и ужинов на двоих.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 step secondStep" ng-form="giftForm">
      <h4 class="text-left"><strong>Шаг 2</strong> &nbsp;&nbsp;&nbsp;Предоставьте свои данные</h4>
      <div class="form row" ng-form="customerDetails" novalidate>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="name">Ваше Имя</label>
          <input id="name" type="text" class="adressDetails name" ng-model="formUser.name" required>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="surname">Ваша Фамилия</label>
          <input id="surname" type="text" class="adressDetails surname" ng-model="formUser.surname" required>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="phone">Ваш Номер Телефона</label>
          <input id="phone" type="tel" class="adressDetails phone" ng-model="formUser.phone" value="+38" required>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <dvi class="row">
      <div class="separator"></div>
    </dvi>
  </div>

  <div class="container-fluid">
    <dvi class="row text-center">
      <div class="col-xs-2 div col-xs-offset-5">
        <button ng-disabled="giftForm.$invalid" class="btn text-center makeOrder" ng-click="checkout();">Сделать Заказ</button>
      </div>
    </dvi>
  </div>

</div>