<div class="gifts" ng-controller="GiftsCtrl">

  <div class="container-fluid notification fadein fadeout" ng-show="notification">
    <div class="col-xs-12 text-center">
      <h5 ng-show="successOrder" class="fadein fadeout">
        Ура! Ваш заказ был принят. Теперь остаётся только ждать своих вкусняшек. 
        <span ng-click="successOrder=false; notification=false;" class="pull-right">x</span>
      </h5>
      <h5 ng-show="errorOrder" class="fadein fadeout">
        Упс! Кажется что-то пошло не так. Поробуйте ещё раз через 30 секунд. 
        <span ng-click="errorOrder=false; notification=false;" class="pull-right">x</span>
      </h5>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <img src="https://rocket04.imgix.net/banner_gifts.jpg?s=416b94cf6608ed05f7b259e789195785" alt="" width="100%">
    </div>
  </div>

  <div class="container-fluid intro  hero">
    <div class="heroContent text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="text-uppercase">подарите подарок, который пригодится каждому</h1>
      <h5>
        Идеален для молодых родителей, занятых людей, и всех кто любит вкусно покушать в Днепропетровске.
      </h5>
    </div>
  </div>

  <div class="container-fluid giftsContent">
    <div class="col-xs-12 col-md-10 col-md-offset-1 step firstStep">
      <h4 class="text-left"><strong>Шаг 1</strong> &nbsp;&nbsp;&nbsp;&nbsp;Выберите подарочный сертификат</h4>
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 giftCard" ng-repeat="gift in gifts" ng-click="selectGift(gift.id, gift);" ng-class="{active :(selectedGift == gift.id)}">
          
          <div class="giftCardHeading">
            <h3 ng-model="formUser.gift">{{gift.price}}.<sup>00</sup> UAH<span pull-right>{{gift.popular}}</span></h3>
          </div>
          <div class="giftCardImg" style="background-image:url({{gift.img}}); background-size: cover;" ng-class="{quantity :(selectedGift == gift.id)}">
            <div class="inCart">
              <h1 class="text-uppercase fadein fadeout" ng-show="selectedGift == gift.id">выбрано</h1>
            </div>
          </div>
          <div class="giftCardDescr">
            <p class="text-center">{{gift.text}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 step secondStep" ng-form="giftForm">
      <h4 class="text-left"><strong>Шаг 2</strong> &nbsp;&nbsp;&nbsp;Предоставьте свои данные</h4>
      <div class="form row" ng-form="customerDetails" novalidate>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="name">Ваше Имя<sup style="color:red;">*</sup></label>
          <input id="name" type="text" class="adressDetails name" ng-model="formUser.name" required>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="phone">Ваш Номер Телефона<sup style="color:red;">*</sup></label>
          <input id="phone" type="tel" class="adressDetails phone" ng-model="formUser.phone" value="+38" required>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <label for="surname">Email <sup>(опционально)</sup></label>
          <input id="surname" type="email" class="adressDetails surname" ng-model="formUser.email">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <dvi class="row">
      <div class="separator"></div>
    </dvi>
  </div>

  <div class="container-fluid">
    <dvi class="row text-center">
      <div class="col-sm-2 col-sm-offset-5">
        <button ng-disabled="giftForm.$invalid" class="btn text-center makeOrder" ng-click="buyGift();">Заказать Сертификат</button>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3 whatIs">
        <h3>
          Подарочный сертификат не имеет срока годности. Весь неиспользованный баланс
сертификата после заказа будет перенесен на личный счет пользователя, для
дальнейшего использования.
        </h3>
      </div>
    </dvi>
  </div>

</div>