<div class="map">
  <div class="container-fluid">
    <div class="col-xs-12 text-center text-uppercase">
      <h2 class="mapHeading">зона доставки в днепропетровске и области</h2>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 mapContainer">
      <gm-map options="{center: [48.46238585,35.05232421], zoom: 10}">
        <gm-kmlLayer options="{url:'https://rocket04.github.io/1.kml', opts: {suppressInfoWindows: true}}">
        </gm-kmlLayer>
      </gm-map>
    </div>
  </div>
</div>