
    <div id="map" style="width:100%; height:600"></div>
    <script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: {lat: 48.46238585, lng: 35.05232421}
  });

  var ctaLayer = new google.maps.KmlLayer({
    url: '../Sloy_bez_nazvania_kml.kml',
    map: map
  });
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLuVHO1BM3676cljsV8SK593AWth6kirs&signed_in=true&callback=initMap">
    </script>
