<div class="how ">

  <div class="container-fluid intro  hero">
    <div class="heroContent text-center col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
      <h3 class="text-uppercase">что такое</h3>
      <h1 class="text-uppercase">rocket04?</h1>
      <h5>
        Rocket 04 это абсолютно новый образ питания. Мы доставляем самые свежие
        ингредиенты по нашим уникальным, вкусным и полезным рецептам.
      </h5>
    </div>
  </div>

  <div class="container-fluid text-center text-uppercase howHeading">
    <h2>как это работает</h2>
  </div>

  <div class="howContent container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 howCard first">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">расфасованные продукты</h3>
        <p>
          Наша команда выбирает, закупает и
          расфасовывает только самые лучшие
          и свежие ингредиенты. Каждый
          рецепт и заказ обрабатывается в ручную.
        </p>
        <p>
          Все продукты мы покупаем только у
          местных производителей,
          поддерживая украинское
          производство.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="https://rocket04.imgix.net/how_it_works_1.jpg?s=a23bb848a46e611f6e200e914cf2da6e" alt="" class="pull-right">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 howCard second">
      <div class="col-xs-12 col-md-8 hidden-xs hidden-sm image">
        <img src="https://rocket04.imgix.net/how_it_works_2.jpg?s=a1137a58bf73f1169ca499b1cdf02028" alt="" class="pull-left">
      </div>
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">приготовление еды это просто</h3>
        <p>
          Вы можете сделать заказ через
          наш сайт или социальные медиа.
          Выбрать любое блюдо из 8 категорий: как блюда с мясом, так и вегетарианские рецепты, а также супы, десерты и напитки.
           Все наши
          рецепты сбалансированы и основаны
          на принципах здорового питания.
        </p>
        <p>
          Вы можете выбрать удобный для вас
          доступный день доставки и мы
          доставим вам всё что необходимо для
          приготовления идеального блюда.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 hidden-md hidden-lg image">
        <img src="https://rocket04.imgix.net/how_it_works_2.jpg?s=a1137a58bf73f1169ca499b1cdf02028" alt="" class="pull-left">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 middleHero  hero">
        <div class="heroContent text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="text-uppercase">посмотрите наше меню</h1>
          <p class="">Все безумно вкусно</p>
          <a href="" class="btn btn-md text-capitalize" ng-href="#/rocket04">наше меню</a>
        </div>
      </div>
    </div>
  </div>

  <div class="howContent container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 howCard third">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">доставка в любое место</h3>
        <p>
          Мы доставим ваш заказ точно в срок,
          используя специальную упаковочную продукцию
          чтобы ваши ингредиенты всегда оставались свежими и
          охлаждёнными.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="https://rocket04.imgix.net/how_it_works_3.jpg?s=b6570fa9801bf72074ce8e6e6df267d7" alt="" class="pull-right">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 howCard fourth">
      <div class="col-xs-12 col-md-8 hidden-xs hidden-sm image">
        <img src="https://rocket04.imgix.net/how_it_works_6.jpg?s=1467f817f5899484ae82d6c7ab4fbb51" alt="" class="pull-left">
      </div>
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">еда, которую вы хотите</h3>
        <p>
          Разнообразие рецептов это очень
          сложная и утомительная работа.
          Нужно постоянно искать что-то новое,
          закупать необходимые продукты,
          беспокоиться о правильных
          пропорциях. Но с нами всё
          становится в разы проще!
        </p>
      </div>
      <div class="col-xs-12 col-md-8 hidden-md hidden-lg image">
        <img src="https://rocket04.imgix.net/how_it_works_6.jpg?s=1467f817f5899484ae82d6c7ab4fbb51" alt="" class="pull-left">
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 howCard fifth">
      <div class="col-xs-12 col-md-4 cardText">
        <h3 class="text-uppercase">еда для всех</h3>
        <p>
          В основе нашего стартапа лежит
          желание сделать этот мир немного
          лучше. Поэтому на 2016 год у нас в
          планах накормить обедами 10,000
          жителей Днепропетровска, которые в
          этом нуждаются.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 image">
        <img src="https://rocket04.imgix.net/how_it_works_4.jpg?s=aeb27fef710a8e8af6f12ede6e3e071a" alt="" class="pull-right">
      </div>
    </div>
  </div>

  <div class="container-fluid ending  hero">
    <div class="heroContent text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
      <h1 class="text-uppercase">посмотрите наше меню</h1>
      <p class="">Все безумно вкусно</p>
      <a href="" class="btn btn-md text-capitalize" ng-href="#/rocket04">наше меню</a>
    </div>
  </div>

</div>
