<div class="how bottom-border">
  <div class="container-fluid">
    <div class="wrapper">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>Как же это работает?</h2>
        <p>Всё очень просто. Всего 2 простых шага, необходимые для полного удовольствия.</p>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 indent-10 step1Body">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 step1 text-center">
          <img src="../images/how/connection.jpg" alt="" class="img-responsive">
        </div>
        <div class=" text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 step1 indent-5">
          <h2>Шаг 01: Выбор еды</h2>
          <p>В течении текущей недели Вы можете выбирать то, что будете
          готовить на следующей неделе. С помощью нашего сайта или
          приложения сделать это очень быстро и удобно!</p>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 indent-10 step2Body">
        <div class=" text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 step2 indent-5">
          <h2>Шаг 02: Выбор еды</h2>
          <p>В удобное для Вас время, наш отряб быстрого реагирования
          доставит Вашу посылку быстро, надежно и вошебно</p>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 step2 text-center">
          <img src="../images/how/delivery.jpg" alt="" class="img-responsive">
        </div>
      </div>
      
      <div class="indent-10">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <h2>Всё что остаётся это лишь пожелать приятного приготовления!</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <img src="../images/how/food.jpg" alt="" class="img-responsive">
        </div>
      </div>
      
    </div>
  </div>
</div>