<div class="index">
  <div class="intro">
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-3 col-lg-offset-3 card text-center">
      <h3>свежие продукты</h3>
      <h1>с доставкой на дом</h1>
      <h5>Взвешенные и расфасованные ингредиенты для уникальных рецептов</h5>
      <p>посмотрите наше меню</p>
      <a href="" class="btn btn-md" ng-href="#/rocket04">наше меню</a>
    </div>
  </div>

  <div class="rules">
    <div class="col-xs-12 text-center">
      <h2 class="text-uppercase">yжин на ваших правилах</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
      <ul class="list-unstyled">
        <li>
          <img class="rulesImage" src="https://rocket04.imgix.net/Rocket_menu.svg?s=19cfa5825989dffbad1c0be0a2ab7bda" alt="">
        </li>
        <li>
          <h5 class="text-capitalize">уникальное меню</h5>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
      <ul class="list-unstyled">
        <li>
          <img class="rulesImage" src="https://rocket04.imgix.net/Rocket_package.svg?s=b861c58255928812744951275deecdd9" alt="">
        </li>
        <li>
          <h5 class="text-capitalize">расфасованные продукты</h5>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
      <ul class="list-unstyled">
        <li>
          <img class="rulesImage" src="https://rocket04.imgix.net/Rocket_delivery.svg?s=d9bd609d5448a79ffb0b28848bd7bc7f" alt="">
        </li>
        <li>
          <h5 class="text-capitalize">удобная доставка</h5>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
    </div>
  </div>
</div>