<div class="index">
  <div class="container-fluid intro bottom-border hero">
    <div class="heroContent text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
			<h1>Все необходимые продукты рядом, когда они нужны</h1>
			<p>Самые свежие продукты.Постоянное обновление рецептов.Быстрая доставка.Никаких обязательство, потери времени и денег.</p>
			<a class="btn">Посмотреть меню</a>
    </div>
  </div>

  <div class="container-fluid content bottom-border text-center">
    <div class="wrapper">
  		<h1>Готовить - это легко и просто!</h1>

      <div class="row text-center advantages">
    		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      		<ul class="list-unstyled"> 
    				<li>
              <img src="../images/index/recepies1.png" alt="">
            </li> 
    				<li>
              <h2>Новые рецепты каждую неделю</h2>
            </li> 
    				<li>
              <p>
                Попробуйте абсолютно новые рецепты каждую неделю, подготовленные нашей кулинарной командой. 
                Мы подбираем оптимально сбалансированные рецепты для здорового и вкусного питания.
              </p>
            </li> 
    			</ul>
    		</div>
    		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      		<ul class="list-unstyled"> 
    				<li>
              <img src="../images/index/preproportioned1.png" alt="">
            </li> 
    				<li>
              <h2>Порционно расфасованные продукты</h2>
            </li> 
    				<li>
              <p>
                Все ингредиенты расфасованы и точно отмеряны, поэтому больше не будет неиспользованных продуктов. 
                Мы вручную отбираем идеальные свежие продукты специально под каждый ваш заказ.
              </p>
            </li> 
    			</ul>
    		</div>
    		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    			<ul class="list-unstyled"> 
    				<li>
              <img src="../images/index/camera1.png" alt="">
            </li> 
    				<li>
              <h2>Удобная и быстрая доставка</h2>
            </li> 
    				<li>
              <p>
                Доставка по всему региону в удобное для Вас время. 
                Ваши продукты будут доставлены в специально завакуумированных упаковках, поэтому еда всегда останется свежей и охлажденной.
              </p>
            </li>	 
    			</ul>
    		</div>
  	  </div>

      <div class="row betterLife">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <img src="../images/index/technology.jpg" alt="" class="tech">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text">
          <h2>Выбрать и заказать Ваш новый кулинарный шедевр просто</h2>
          <p>
            Все, что вам нужно, у Вас уже есть. 
            Мы используем передовые технологии с одной простой целью. 
            Мы хотим сделать Вашу жизнь лучше. 
            Мы хотим вернуть магию и наслаждение от приготовления пищи.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ending bottom-border hero">
    <div class="heroContent text-center col-lg-6 col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
      <h1>Мы уже не можем дождаться, чтобы начать готовить вместе с Вами</h1>
      <p>Не нужна никакая подписка. Просто выбираете что хотите приготовить и мы доставим самые лучшие продукты для этого.</p>
      <a class="btn">Посмотреть меню</a></div>
    </div>
  </div>
</div>