<div ng-controller="storeCtrl" ng-show="rocketStart" class="store">  
  <div class="container-fluid">

    <div class="col-lg-2 sidebarNav navbar-default navbar">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Поиск">
          <span class="input-group-btn">
            <button class="btn btn-default " type="button"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </div>

      <div class="col-lg-12">
        <ul class="list-unstyled">
          <li><h4>Основной Ингредиент</h4></li>
          <li><a href="">Говядина</a></li>
          <li><a href="">Рыба</a></li>
          <li><a href="">Свинина</a></li>
          <li><a href="">Птица</a></li>
          <li><a href="">Вегетарианское</a></li>
        </ul>
      </div>

      <div class="col-lg-12">
        <ul class="list-unstyled">
          <li><h4>Кухня</h4></li>
          <li><a href="">Итальянская</a></li>
          <li><a href="">Азиатская</a></li>
          <li><a href="">Африканская</a></li>
          <li><a href="">Американская</a></li>
          <li><a href="">Французская</a></li>
          <li><a href="">Национальная</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-10" style="margin-left: 300px;">
      
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" ng-repeat="i in receipeLst">
        <h5>{{i.title}}</h5>
        <a ng-href="#/desc/{{i.id}}">desc</a>
      </div>

    </div>
  </div>
</div>
