<div ng-controller="storeCtrl as s" class="store">
  <div class="container-fluid">
    <rocket-navstore></rocket-navstore>
    <div class="banner"></div>

    <div class="wrapper">

    <div class="col-xs-12">
      <h3 class="text-muted">Меню</h3>
    </div>

    <ul class="list-unstyled">
      <li ng-repeat="i in receipeLst | filter:search:strict">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card" >
          <div class="photo-container">
            <a ng-href="#/desc/{{i.id}}">
              <img ng-src="{{i.photo.url}}" class="">
            </a> 
          </div>
          <div class="description">
            <div class="title">
              <h3>{{i.title | limitTo: 29}}</h3>
            </div>
            <div class="tags">
              <p class="text-muted">
                {{i.description | limitTo: 55}}
              </p>
            </div>
            <div class="separator"></div>
            <div class="actions">
              <div class="price" style="display: inline;">{{i.price | currency:"\u20b4" }}</div>
              <div class="buttons" style="display: inline;">
                <ngcart-addtocart id="{{ i.id }}" name="{{ i.title }}" price="{{ i.price }}" quantity="1" quantity-max="9" class="price pull-right">Добавить <i class="glyphicon glyphicon-plus"></i></ngcart-addtocart>
              </div>
            </div>
          </div>
        </div> 
       </li>
     </ul>   
  </div>
</div>